.card {
    border-radius: $border-radius;
    background-color: $color-black-darkest;
    box-shadow: 5px 5px 10px 0px $color-black-darkest;
    padding: 1rem;
    width: 100%;
    min-height: 150px;
    margin: 1rem;
    // border-left: 5px solid $color-blue-highlight;
    &-small {
        max-width: 30%;
    }
    &-large {
        max-width: 65%;
    }
    &-med {
        max-width: 35%;
    }
}