.dashboard-content-content {
    display: none;
}

.loader {
    margin: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 1000;
    width: 200px;
    height: 204px;
    background: url('../img/logo.svg') no-repeat;
    cursor: wait;
    transform: scale(1);
    animation: pulse 1s infinite;
}