.wallet {
    background-color: hsl(227, 33%, 19%);
    &-text {
        font-size: 2rem;
        color: $color-text-highlight!important;
    }
    &-img {
        background-color: $color-blue-main!important;
    }
}