
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #0A0A13;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(215, 219, 234, 0.95);
  height: 100vh;
  letter-spacing: 1.1px; }

a {
  text-decoration: none;
  color: inherit; }

.body-wrapper {
  min-height: 88vh;
  width: 100%; }

.color-blue {
  color: #2E75DF;
  font-weight: 700;
  font-style: bold;
  font-size: 1.8rem; }

.highlight-link {
  color: #67CDE4; }

.flex {
  display: flex;
  align-items: center; }

.active {
  border-left: 5px solid #2E75DF !important; }

.active-link {
  color: #2E75DF !important;
  font-weight: 700; }

.green {
  color: rgba(0, 128, 0, 0.7); }

.red {
  color: rgba(255, 0, 0, 0.7); }

.blue {
  color: #2E75DF; }

.color-text {
  color: #3e4975; }

.underline {
  text-decoration: underline; }

.margin {
  margin: 2rem 0rem; }

.animate-left-third, .animate-left-second, .animate-left-first {
  animation-name: fade-in-left;
  animation-timing-function: ease; }

.animate-left-first {
  animation-duration: 2s; }

.animate-left-second {
  animation-duration: 4s; }

.animate-left-third {
  animation-duration: 6s; }

.animate-fade-in {
  animation-name: fade-in;
  animation-timing-function: ease;
  animation-duration: 10s; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); } }

.btn-delete, .btn-tertiary, .btn-secondary, .btn-primary {
  border-radius: 5px;
  cursor: pointer;
  padding: 1rem 4rem;
  text-transform: uppercase;
  margin: .25rem;
  letter-spacing: 1.5px;
  font-size: 1rem;
  font-weight: 700;
  font-style: bold;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s ease;
  border: none; }
  .btn-delete:hover, .btn-tertiary:hover, .btn-secondary:hover, .btn-primary:hover {
    transform: translateY(2px); }

.btn-primary {
  background-color: #2E75DF;
  color: inherit; }

.btn-secondary {
  background-color: rgba(215, 219, 234, 0.95);
  color: #2E75DF;
  border: 4px solid #2E75DF; }

.btn-tertiary {
  background-color: transparent;
  color: #2E75DF; }

.btn-delete {
  background-color: crimson;
  color: rgba(215, 219, 234, 0.95); }

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }

.registration {
  width: 80%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .registration-form {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 4rem; }
    .registration-form-header {
      padding: 2rem 0rem;
      display: flex;
      align-items: center;
      width: 80%;
      justify-content: center; }
    .registration-form-heading {
      margin-left: 2rem;
      font-size: 2.4rem;
      margin-top: 2rem; }
    .registration-form-group {
      display: flex;
      flex-direction: column;
      padding: .5rem 0rem;
      width: 60%;
      margin-left: 6rem; }
    .registration-form-label {
      color: #67CDE4;
      margin-bottom: .5rem; }
    .registration-form-input {
      padding: 1rem;
      margin: .5rem 0;
      border-radius: 5px;
      border: none; }
    .registration-form-text {
      font-family: inherit;
      color: #c5c5c5;
      font-weight: 300; }
    .registration-form-button {
      width: 30%;
      margin-top: 2rem;
      margin-bottom: .5rem; }

.card {
  padding: 2rem;
  border-radius: 50px;
  margin: 4rem;
  border: #20263a solid 1px;
  background: #1B2136;
  box-shadow: 20px 20px 60px #171c2e, -20px -20px 60px #1f263e; }
  .card-title {
    color: #2E75DF;
    font-size: 2rem;
    text-transform: capitalize;
    margin: 2rem 0rem; }
  .card-text {
    line-height: 1.7;
    font-size: 1.2rem;
    color: rgba(215, 219, 234, 0.95); }
  .card-icon {
    background-color: #2E75DF;
    padding: 1rem;
    border-radius: 50%;
    height: 10rem;
    width: 10rem; }

.tab {
  overflow: hidden;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  border: 1px solid #0a0a14;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px #0a0a14; }
  .tab-links {
    border: none;
    background-color: #1B2136;
    color: #b3bbd7;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 50%; }
  .tab-content {
    width: 90%;
    margin: 0 auto;
    background-color: #1B2136;
    display: none;
    padding: 6px 12px;
    animation: fadeEffect 1s;
    border: 1px solid #0a0a14;
    border-top: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px #0a0a14; }
  .tab-active {
    background-color: #2E75DF;
    font-weight: 800;
    font-style: bold; }
  .tab-form {
    display: flex;
    flex-direction: column;
    padding: 1rem; }
    .tab-form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: .5rem; }
    .tab-form-label {
      color: #b3bbd7;
      margin: .5rem 0rem; }
    .tab-form-input {
      padding: 1rem;
      border-radius: 5px; }
    .tab-form-action {
      margin-top: 2rem; }

.password-tab-content {
  width: 90%;
  margin: 0 auto;
  background-color: #1B2136;
  display: none;
  padding: 6px 12px;
  animation: fadeEffect 1s;
  border: 1px solid #0a0a14;
  border-top: none;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px #0a0a14;
  margin-bottom: 2rem; }

@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.first {
  display: block; }

.tab-links-none {
  width: 50%;
  background-color: #1B2136;
  border: none; }

.wallet {
  background-color: #202740; }
  .wallet-text {
    font-size: 2rem;
    color: #aab4ff !important; }
  .wallet-img {
    background-color: #2E75DF !important; }

.flash {
  background-color: rgba(215, 219, 234, 0.95);
  font-size: 1rem;
  border-left: 5px solid #2E75DF;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  display: flex; }
  .flash-message {
    font-size: 1rem;
    color: #3e4975; }

.dashboard-content-content {
  display: none; }

.loader {
  margin: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 1000;
  width: 200px;
  height: 204px;
  background: url("../img/logo.svg") no-repeat;
  cursor: wait;
  transform: scale(1);
  animation: pulse 1s infinite; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .header-logo {
    display: flex;
    align-items: center;
    padding: 1rem; }
    .header-logo--img {
      height: 4rem;
      width: 4rem;
      padding: .5rem; }
    .header-logo--name {
      margin-left: 1rem;
      font-size: 1rem;
      color: #3e4975; }
  .header-nav {
    padding: 1rem; }
    .header-nav--items {
      display: flex;
      align-items: center;
      list-style-type: none; }
    .header-nav--item {
      margin-left: 1rem; }
      .header-nav--item_link {
        display: inline-block; }

.footer {
  width: 100%;
  padding: 1rem;
  height: 40vh;
  background-color: #151928;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .footer-image {
    height: 10rem; }
  .footer-name {
    color: rgba(215, 219, 234, 0.95);
    font-size: 4rem;
    margin-top: 2rem; }
  .footer-container {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-evenly;
    margin-top: 4rem; }
    .footer-container-left {
      margin: 2rem; }
    .footer-container-middle {
      margin: 2rem; }
    .footer-container-right {
      margin: 2rem; }
  .footer-list {
    list-style-type: none;
    display: flex; }
    .footer-list li {
      margin: 0rem 1rem; }

.dashboard {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center; }
  .dashboard-wrapper {
    height: 100%;
    min-width: 100vw;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 8% 92%; }
  .dashboard-nav {
    border-top-right-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #0A0A13; }
  .dashboard-list {
    list-style-type: none;
    margin-top: 10rem; }
    .dashboard-list--item {
      margin-top: 4rem;
      opacity: .8; }
    .dashboard-list--link {
      font-size: .8rem;
      display: flex;
      align-items: center; }
    .dashboard-list--icon {
      height: 3.2rem;
      width: 3.2rem;
      border-left: 5px solid #0A0A13;
      padding-left: 10px; }
    .dashboard-list--text {
      margin-left: .8rem; }
  .dashboard-content-content {
    border-radius: 5px;
    background-color: #151928;
    color: #b3bbd7;
    padding: 2rem; }
  .dashboard-title {
    font-size: 1.4rem; }

.error-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

.error-heading {
  font-size: 6rem;
  color: crimson;
  font-style: bold;
  padding: 1rem; }

.error-paragraph {
  line-height: 1.7;
  font-size: 1.2;
  margin: 2rem 0rem; }

.heroImage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  opacity: .5; }

.heroBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -500;
  opacity: .5;
  background-color: #1B2136; }

.hero {
  height: 75vh;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center; }
  .hero-headings {
    text-align: center;
    margin-bottom: 2rem; }
  .hero-header1 {
    font-size: 10rem;
    text-shadow: -0.0075em 0.0075em 0 #f2f7fd, 0.005em 0.005em 0 #abc8f2, 0.01em 0.01em 0 #b0cbf3, 0.015em 0.015em #b4cdf3, 0.02em 0.02em 0 #b8d0f4, 0.025em 0.025em 0 #bcd3f5, 0.03em 0.03em 0 #c0d6f5, 0.035em 0.035em 0 #c4d8f6; }
  .hero-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .hero-right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .hero-right-content {
      width: 80%; }

.section {
  height: 80vh;
  width: 100vw;
  background-color: #1B2136; }
  .section-heading {
    font-size: 6rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
    padding-top: 2rem;
    color: #3e4975; }
  .section-cards {
    display: flex;
    margin-top: 4rem; }
  .section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .section-subhero {
    width: 100vw;
    height: 18vh;
    display: grid;
    grid-template-columns: 20% 65% 15%; }
    .section-subhero-content {
      background-color: white;
      color: #3e4975;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .section-subhero-content-stocks {
        display: flex;
        justify-content: space-evenly; }
        .section-subhero-content-stocks_stock {
          height: 5rem;
          width: 5rem;
          margin: 0rem 2rem; }
      .section-subhero-content-list {
        list-style-type: none;
        margin-left: 4rem; }
        .section-subhero-content-list_item {
          color: inherit; }
      .section-subhero-content_footer {
        color: #3e4975; }
  .section-content {
    background-color: rgba(215, 219, 234, 0.95);
    height: 60vh;
    opacity: .95;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .section-content_text {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .section-content_text--header {
        font-size: 5rem;
        color: #2E75DF; }
      .section-content_text--text {
        font-size: 1.2rem;
        line-height: 1.7;
        margin-top: 2rem;
        color: #3e4975; }
    .section-content_image {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
  .section-testimonial {
    padding: 4rem; }
    .section-testimonial--card {
      display: grid;
      grid-template-columns: 30% 70%;
      align-items: center;
      justify-content: center; }
    .section-testimonial--card-2 {
      display: grid;
      grid-template-columns: 70% 30%;
      align-items: center;
      justify-content: center; }
    .section-testimonial-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30vh;
      opacity: .8;
      border-radius: 5px; }
    .section-testimonial--img {
      height: 16rem;
      width: 16rem; }
    .section-testimonial-text {
      height: 30vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4rem; }
      .section-testimonial-text-content {
        font-size: 1.8rem;
        line-height: 1.6; }
      .section-testimonial-text-name {
        font-size: 1.2;
        font-style: italic;
        color: #2E75DF; }
  .section-base {
    height: 60vh;
    background-color: rgba(215, 219, 234, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .section-base-header {
      font-size: 4rem;
      color: #3e4975;
      text-shadow: -0.0075em 0.0075em 0 #f2f7fd, 0.005em 0.005em 0 #abc8f2, 0.01em 0.01em 0 #b0cbf3, 0.015em 0.015em #b4cdf3, 0.02em 0.02em 0 #b8d0f4, 0.025em 0.025em 0 #bcd3f5, 0.03em 0.03em 0 #c0d6f5, 0.035em 0.035em 0 #c4d8f6; }

.index-button {
  margin-top: 4rem; }

.dash-row {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 1rem;
  margin-top: 2rem;
  min-height: 40vh; }

.dash-heading {
  font-weight: 300; }

.dash-trending {
  height: 100%;
  width: 100%; }
  .dash-trending--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem; }
  .dash-trending--table {
    width: 94%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #0a0a14;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px #0a0a14; }
    .dash-trending--table_header {
      background-color: #b3bbd7;
      color: #3e4975; }
    .dash-trending--table_head {
      padding: 1rem; }
    .dash-trending--table_data {
      color: inherit;
      padding: 1rem; }
  .dash-trending-assets {
    margin-top: 1rem;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .dash-trending-assets--item {
      display: flex;
      border: 1px solid #0a0a14;
      box-shadow: 2px 2px 10px 0px #0a0a14;
      margin: 1rem;
      align-items: center;
      padding: 1rem;
      border-radius: 5px; }
    .dash-trending-assets_name {
      margin: 0rem 0.8rem; }
    .dash-trending-assets_img {
      height: 2rem; }

.dash-spotlight {
  height: 100%;
  width: 100%;
  padding: 1rem;
  min-height: 20vh; }
  .dash-spotlight-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; }
  .dash-spotlight--content {
    width: 98%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px #0a0a14; }
    .dash-spotlight--content_image {
      padding: 0rem;
      height: 18rem; }
    .dash-spotlight--content_img {
      height: 100%;
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px; }
    .dash-spotlight--content_text {
      color: white;
      width: 60%;
      height: 100%;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      display: grid;
      align-items: center;
      padding: 1rem; }
      .dash-spotlight--content_text-symbol {
        color: #67CDE4;
        font-size: 2.4rem; }
      .dash-spotlight--content_text-name {
        color: #b3bbd7;
        font-size: 2rem; }
      .dash-spotlight--content_text-exchange {
        color: #3e4975;
        font-size: 1.2rem; }
      .dash-spotlight--content_text-sector {
        color: #3e4975;
        font-size: 1.2rem; }
      .dash-spotlight--content_text-description {
        font-size: 1rem;
        margin: 1rem 0;
        color: #b3bbd7;
        line-height: 1.7; }
      .dash-spotlight--content_text-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        margin-right: 1rem;
        color: #b3bbd7; }

.dash-portfolio {
  height: 100%;
  width: 100%; }
  .dash-portfolio--content {
    width: 94%;
    margin: 0 auto;
    padding-top: 1.4rem; }
  .dash-portfolio-table {
    width: 100%; }
    .dash-portfolio-table__item {
      border-radius: 5px;
      padding: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 2rem;
      box-shadow: 2px 2px 10px 0px #0a0a14; }
    .dash-portfolio-table_img {
      background-color: #b3bbd7;
      border-radius: 50%;
      height: 5rem;
      padding: .5rem; }
    .dash-portfolio-table_data {
      color: #3e4975;
      margin: 0rem .5rem; }
    .dash-portfolio-table-name {
      color: #aab4ff;
      font-size: 1.4rem;
      width: 180px; }
    .dash-portfolio-table__minor {
      color: #b3bbd7;
      margin-top: .5rem;
      font-size: 1rem; }

.dash-actions {
  height: 100%;
  width: 100%;
  padding: 1rem; }
  .dash-actions-content {
    padding: 2rem;
    height: 100%;
    width: 100%; }

.green {
  color: rgba(0, 128, 0, 0.7); }

.red {
  color: rgba(255, 0, 0, 0.7); }

.explore-row-full {
  width: 98%;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem; }

.explore-section {
  padding: 1rem; }
  .explore-section-header {
    font-size: 1.4rem; }
  .explore-section-content {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .explore-section-content_item {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      max-width: 350px;
      margin-right: .5rem;
      margin-bottom: .5rem;
      padding: 1rem;
      border-radius: 5px;
      border: solid 1px #0a0a14;
      box-shadow: 2px 2px 10px 0px #0a0a14; }

.losers-header {
  margin-top: 4rem; }

.mx {
  display: none; }

.quote {
  min-height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: 25% 75%; }
  .quote-left {
    margin-top: 1rem;
    min-height: 100%; }
  .quote-right {
    padding: 1rem;
    min-height: 100%; }
  .quote-header {
    width: 88%;
    margin: 0 auto;
    margin-bottom: 2rem; }
  .quote-company {
    padding: 1rem; }
    .quote-company-symbol {
      height: 4rem;
      width: 4rem;
      background-color: wheat;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem; }
    .quote-company-icon {
      height: 3rem;
      width: 3rem; }
    .quote-company-stock {
      color: #67CDE4;
      font-size: 3rem; }
    .quote-company-name {
      font-size: 1.6rem;
      margin-bottom: 1rem;
      color: #3e4975; }
    .quote-company-price {
      font-size: 2rem;
      margin: 2rem 0rem;
      color: #aab4ff;
      font-weight: 800; }
      .quote-company-price_stats {
        font-size: 1.2rem;
        font-weight: 500;
        margin-left: 1rem; }
    .quote-company-description {
      font-size: 1rem;
      line-height: 1.7;
      margin-top: 2rem; }
  .quote-form {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    padding: 1rem; }
    .quote-form_input {
      padding: .8rem;
      border-radius: 5px;
      border: none;
      margin-top: 1rem;
      width: 60px; }
    .quote-form_action {
      width: 20%;
      margin-top: 2.4rem; }
    .quote-form_group {
      display: flex;
      flex-direction: column; }
  .quote-table {
    width: 100%;
    margin: 2rem 0rem;
    border-radius: 5px; }
    .quote-table_data {
      font-size: 1rem;
      padding: 1rem 1rem;
      background-color: #20263a; }

.portfolio {
  min-height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .portfolio-right-sell {
    padding: 1rem;
    width: 60%; }
    .portfolio-right-sell_heading {
      margin-top: .5rem;
      margin-bottom: 2.5rem; }
  .portfolio-right-transactions {
    padding: 1rem;
    margin-top: 1rem; }

.account {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr; }
  .account-wallet {
    margin-top: 2rem; }
    .account-wallet-value {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 2rem; }
    .account-wallet-heading {
      margin-bottom: 1rem; }
  .account-password {
    margin-top: 2rem; }
  .account-history {
    margin-top: 4rem; }
  .account-remove {
    padding: 2rem;
    background-color: #0a0a14;
    box-shadow: 2px 2px 10px 0px #0a0a14;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto; }
    .account-remove-text {
      font-size: 1.2rem;
      color: #b3bbd7;
      margin: .5rem 2rem;
      margin-bottom: 2rem;
      line-height: 1.8; }
    .account-remove-action {
      margin-left: 2rem; }

.account-mq {
  display: none; }

.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  background-color: transparent;
  border-radius: 5px;
  color: #b3bbd7; }

.accordion-selected,
.accordion:hover {
  background-color: #20263a; }

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden; }

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #3e4975;
  float: right;
  margin-left: 5px; }

.active:after {
  content: "\2796"; }

.confirmation {
  height: 90%;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .confirmation-content {
    width: 60%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px #0a0a14;
    padding: 2rem; }
  .confirmation-form {
    display: inline-block;
    width: 80%;
    padding: 2rem; }
    .confirmation-form_input {
      padding: .8rem;
      border-radius: 5px;
      border: none;
      width: 200px;
      margin: 0 auto;
      margin-top: 1rem;
      background-color: lemonchiffon;
      text-align: center; }
    .confirmation-form_label {
      margin-top: 1rem; }
    .confirmation-form_text {
      margin: 1rem; }
  .confirmation-symbol {
    height: 4rem;
    width: 4rem;
    background-color: wheat;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1rem; }

.flex-button-group {
  margin-top: 3rem; }

@media only screen and (min-width: 1600px) {
  body {
    background-color: cyan; } }

@media only screen and (max-width: 900px) {
  html {
    font-size: 60%; }
  body {
    background-color: orange; }
  .hero-header1 {
    font-size: 8rem; }
  .card {
    padding: 1rem;
    margin: 2rem; }
    .card-text {
      font-size: 1rem; }
    .card-icon {
      height: 8rem;
      width: 8rem; }
  .account {
    display: none; }
  .account-mq {
    display: block; }
  .header {
    margin-bottom: 1rem; }
  .dashboard-list--text {
    display: none; }
  .portfolio {
    display: block; }
  .quote {
    display: block; }
  .explore-section {
    display: none; }
  .explore-section-content_item {
    max-width: 280px; }
  .dash-row {
    display: block; }
  .mx {
    display: block; } }

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
    width: 100%; }
  body {
    background-color: crimson; }
  .hero {
    display: block; }
    .hero-header1 {
      font-size: 4rem; }
    .hero-left {
      height: 20vh; }
    .hero-right {
      height: auto; }
  .section {
    height: auto; }
    .section-cards {
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .section-heading {
      font-size: 2rem; }
    .section-subhero {
      width: 100vw;
      height: 10vh;
      display: grid;
      grid-template-columns: 20% 65% 15%; }
      .section-subhero-content {
        background-color: white;
        color: #3e4975;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .section-subhero-content-stocks {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly; }
          .section-subhero-content-stocks_stock {
            height: 2.5rem;
            width: 2.5rem;
            margin: 0rem .5rem; }
        .section-subhero-content-list {
          margin-left: 0rem; }
    .section-content {
      height: auto;
      padding: 1rem 1rem; }
      .section-content_text {
        height: 100%;
        width: 100%; }
        .section-content_text--header {
          font-size: 1.3rem; }
        .section-content_text--text {
          font-size: .8rem;
          line-height: 1.5; }
      .section-content_img {
        width: 80%;
        height: auto; }
    .section-testimonial {
      padding: 1rem; }
      .section-testimonial-image {
        height: auto; }
      .section-testimonial--img {
        height: 12rem;
        width: 12rem; }
      .section-testimonial-text {
        height: auto;
        padding: 4rem; }
        .section-testimonial-text-content {
          font-size: 1rem; }
        .section-testimonial-text-name {
          font-size: .8; }
    .section-base {
      height: 50vh; }
      .section-base-header {
        font-size: 2rem; }
  .card {
    padding: 1rem;
    margin: .5rem; }
    .card-title {
      font-size: 1rem; }
    .card-text {
      font-size: .8rem; }
    .card-icon {
      height: 5rem;
      width: 5rem; }
  .dash-portfolio-table_img {
    height: 3rem;
    width: 3rem;
    display: none; }
  .explore-section-content_item {
    max-width: 170px; } }
