
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #0A0A13;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(215, 219, 234, 0.95);
  height: 100vh;
  letter-spacing: 1.1px; }

a {
  text-decoration: none;
  color: inherit; }

.body-wrapper {
  min-height: 88vh;
  width: 100%; }

.color-blue {
  color: #2E75DF;
  font-weight: 700;
  font-style: bold;
  font-size: 1.8rem; }

.highlight-link {
  color: #67CDE4; }

.flex {
  display: flex;
  align-items: center; }

.active {
  border-left: 5px solid #2E75DF !important; }

.active-link {
  color: #2E75DF !important;
  font-weight: 700; }

.green {
  color: rgba(0, 128, 0, 0.7); }

.red {
  color: rgba(255, 0, 0, 0.7); }

.animate-float {
  animation-name: float;
  animation-timing-function: ease;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

@keyframes float {
  0% {
    transform: translate3d(-10px, -10px, 0px); }
  50% {
    transform: translate3d(10px, 10px, 0px); }
  100% {
    transform: translate3d(-10px, -10px, 0px); } }

.btn-delete, .btn-tertiary, .btn-secondary, .btn-primary {
  border-radius: 5px;
  cursor: pointer;
  padding: 1rem 4rem;
  text-transform: uppercase;
  margin: .25rem;
  letter-spacing: 1.5px;
  font-size: 1rem;
  font-weight: 700;
  font-style: bold;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s ease;
  border: none; }
  .btn-delete:hover, .btn-tertiary:hover, .btn-secondary:hover, .btn-primary:hover {
    transform: translateY(2px); }

.btn-primary {
  background-color: #2E75DF;
  color: inherit; }

.btn-secondary {
  background-color: rgba(215, 219, 234, 0.95);
  color: #2E75DF;
  border: 4px solid #2E75DF; }

.btn-tertiary {
  background-color: transparent;
  color: #2E75DF; }

.btn-delete {
  background-color: crimson;
  color: rgba(215, 219, 234, 0.95); }

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }

.registration {
  width: 80%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .registration-form {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 4rem; }
    .registration-form-header {
      padding: 2rem 0rem;
      display: flex;
      align-items: center;
      width: 80%;
      justify-content: center; }
    .registration-form-heading {
      margin-left: 2rem;
      font-size: 2.4rem;
      margin-top: 2rem; }
    .registration-form-group {
      display: flex;
      flex-direction: column;
      padding: .5rem 0rem;
      width: 60%;
      margin-left: 6rem; }
    .registration-form-label {
      color: #67CDE4;
      margin-bottom: .5rem; }
    .registration-form-input {
      padding: 1rem;
      margin: .5rem 0;
      border-radius: 5px;
      border: none; }
    .registration-form-text {
      font-family: inherit;
      color: #c5c5c5;
      font-weight: 300; }
    .registration-form-button {
      width: 30%;
      margin-top: 2rem;
      margin-bottom: .5rem; }

.card {
  border-radius: 5px;
  background-color: #151928;
  box-shadow: 5px 5px 10px 0px #151928;
  padding: 1rem;
  width: 100%;
  min-height: 150px;
  margin: 1rem; }
  .card-small {
    max-width: 30%; }

.tab {
  overflow: hidden;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  border: 1px solid #0a0a14;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px #0a0a14; }
  .tab-links {
    border: none;
    background-color: #1B2136;
    color: #b3bbd7;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 50%; }
  .tab-content {
    width: 90%;
    margin: 0 auto;
    background-color: #1B2136;
    display: none;
    padding: 6px 12px;
    animation: fadeEffect 1s;
    border: 1px solid #0a0a14;
    border-top: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px #0a0a14; }
  .tab-active {
    background-color: #2E75DF;
    font-weight: 800;
    font-style: bold; }
  .tab-form {
    display: flex;
    flex-direction: column;
    padding: 1rem; }
    .tab-form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: .5rem; }
    .tab-form-label {
      color: #b3bbd7;
      margin: .5rem 0rem; }
    .tab-form-input {
      padding: 1rem;
      border-radius: 5px; }
    .tab-form-action {
      margin-top: 2rem; }

@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.first {
  display: block; }

.tab-links-none {
  width: 50%;
  background-color: #1B2136;
  border: none; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header-logo {
    display: flex;
    align-items: center;
    padding: 1rem; }
    .header-logo--img {
      height: 4rem;
      width: 4rem;
      padding: .5rem; }
    .header-logo--name {
      margin-left: 1rem;
      font-size: 1rem;
      color: #2E75DF; }
  .header-nav {
    padding: 1rem; }
    .header-nav--items {
      display: flex;
      align-items: center;
      list-style-type: none; }
    .header-nav--item {
      margin-left: 1rem; }
      .header-nav--item_link {
        display: inline-block; }

.footer {
  width: 100%;
  padding: 1rem;
  height: 40vh;
  background-color: #151928;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none; }
  .footer-image {
    height: 10rem; }
  .footer-name {
    color: rgba(215, 219, 234, 0.95);
    font-size: 4rem;
    margin-top: 2rem; }
  .footer-container {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-evenly;
    margin-top: 4rem; }
    .footer-container-left {
      margin: 2rem; }
    .footer-container-middle {
      margin: 2rem; }
    .footer-container-right {
      margin: 2rem; }
  .footer-list {
    list-style-type: none;
    display: flex; }
    .footer-list li {
      margin: 0rem 1rem; }

.dashboard {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center; }
  .dashboard-wrapper {
    height: 100%;
    min-width: 100vw;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 8% 92%; }
  .dashboard-nav {
    border-top-right-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #0A0A13; }
  .dashboard-list {
    list-style-type: none;
    margin-top: 10rem; }
    .dashboard-list--item {
      margin-top: 4rem;
      opacity: .8; }
    .dashboard-list--link {
      font-size: .8rem;
      display: flex;
      align-items: center; }
    .dashboard-list--icon {
      height: 3.2rem;
      width: 3.2rem;
      border-left: 5px solid #0A0A13;
      padding-left: 10px; }
    .dashboard-list--text {
      margin-left: .8rem; }
  .dashboard-content {
    border-radius: 5px;
    background-color: #151928;
    color: #b3bbd7;
    padding: 2rem; }
  .dashboard-title {
    font-size: 1.4rem; }

#indexBackground {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  opacity: .5; }

.index-container {
  display: grid;
  text-align: center;
  grid-gap: 4rem;
  min-height: 80vh;
  width: 70%;
  margin: 0 auto;
  align-items: center; }
  .index-container-content {
    padding: 4rem;
    margin-left: 4rem; }
    .index-container-content--heading {
      font-size: 5.5rem;
      line-height: 1.2;
      text-shadow: #151928 0.5rem 0.5rem; }
    .index-container-content--description {
      font-size: 1.5rem;
      line-height: 1.5;
      margin-top: 2rem; }
    .index-container-content--cta {
      margin-top: 4rem; }

.section {
  height: 100vh;
  width: 100vw;
  border-radius: 5px;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .section-zero {
    background-color: rgba(46, 117, 223, 0.8);
    height: 50vh; }
    .section-zero--img {
      height: 100%;
      opacity: .8; }
  .section-one {
    background-color: rgba(33, 40, 65, 0.6); }
  .section-two {
    background-color: rgba(255, 255, 255, 0.85); }
  .section-title {
    text-align: center;
    color: #2E75DF;
    font-size: 4rem;
    margin-bottom: 2rem;
    letter-spacing: 1.2;
    font-family: "Roboto Slab", serif; }
  .section-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 0 auto; }
    .section-wrapper-two {
      display: grid;
      grid-template-columns: 20% 80%;
      grid-gap: 4rem;
      border-radius: 5px; }
  .section-card {
    border-radius: 5px;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f6f7;
    min-height: 40rem;
    box-shadow: 2px 2px 10px 0px #d2d7db; }
  .section-header {
    color: #2E75DF;
    font-size: 2.4rem;
    letter-spacing: 1.2;
    margin: 1rem; }
  .section-text {
    color: #1B2136;
    line-height: 1.7;
    font-size: 12px;
    margin: 1rem; }
  .section-icon {
    background: linear-gradient(to right bottom, #26C7F2, #ED68BD);
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    margin: 2rem;
    padding: .5rem; }
    .section-icon--img {
      height: 100%;
      width: 100%;
      padding: 2rem; }
  .section-testimonial {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 4rem;
    color: #7e8081; }
    .section-testimonial--card {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border-left: 10px solid #2E75DF; }
    .section-testimonial-image-0 {
      background: url("../img/landing/testimonial1.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      height: 200px;
      width: 200px;
      margin: 1rem; }
    .section-testimonial-image-1 {
      background: url("../img/landing/testimonial2.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      height: 200px;
      width: 200px;
      margin: 1rem; }
    .section-testimonial-text {
      font-size: 1.4rem;
      width: 70%; }
      .section-testimonial-text--name {
        color: #bbbec2;
        font-style: italic;
        margin-top: 2rem; }

.dash-row {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 1rem;
  margin-top: 2rem;
  min-height: 40vh; }

.dash-heading {
  font-weight: 300; }

.dash-trending {
  height: 100%;
  width: 100%; }
  .dash-trending--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem; }
  .dash-trending--table {
    width: 94%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #0a0a14;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px #0a0a14; }
    .dash-trending--table_header {
      background-color: #b3bbd7;
      color: #3e4975; }
    .dash-trending--table_head {
      padding: 1rem; }
    .dash-trending--table_data {
      color: inherit;
      padding: 1rem; }
  .dash-trending-assets {
    margin-top: 1rem;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .dash-trending-assets--item {
      display: flex;
      border: 1px solid #0a0a14;
      box-shadow: 2px 2px 10px 0px #0a0a14;
      margin: 1rem;
      align-items: center;
      padding: 1rem;
      border-radius: 5px; }
    .dash-trending-assets_name {
      margin: 0rem 0.8rem; }
    .dash-trending-assets_img {
      height: 2rem; }

.dash-spotlight {
  height: 100%;
  width: 100%;
  padding: 1rem;
  min-height: 20vh; }
  .dash-spotlight-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; }
  .dash-spotlight--content {
    width: 98%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px #0a0a14; }
    .dash-spotlight--content_image {
      padding: 0rem;
      height: 18rem; }
    .dash-spotlight--content_img {
      height: 100%;
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px; }
    .dash-spotlight--content_text {
      color: white;
      width: 60%;
      height: 100%;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      display: grid;
      align-items: center;
      padding: 1rem; }
      .dash-spotlight--content_text-symbol {
        color: #67CDE4;
        font-size: 2.4rem; }
      .dash-spotlight--content_text-name {
        color: #b3bbd7;
        font-size: 2rem; }
      .dash-spotlight--content_text-exchange {
        color: #3e4975;
        font-size: 1.2rem; }
      .dash-spotlight--content_text-sector {
        color: #3e4975;
        font-size: 1.2rem; }
      .dash-spotlight--content_text-description {
        font-size: 1rem;
        margin: 1rem 0;
        color: #b3bbd7;
        line-height: 1.7; }
      .dash-spotlight--content_text-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        margin-right: 1rem;
        color: #b3bbd7; }

.dash-portfolio {
  height: 100%;
  width: 100%; }
  .dash-portfolio--content {
    width: 94%;
    margin: 0 auto;
    padding-top: 1.4rem; }
  .dash-portfolio-table {
    width: 100%; }
    .dash-portfolio-table__item {
      border-radius: 5px;
      padding: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 2rem;
      box-shadow: 2px 2px 10px 0px #0a0a14; }
    .dash-portfolio-table_img {
      background-color: #b3bbd7;
      border-radius: 50%;
      height: 5rem;
      padding: .5rem; }
    .dash-portfolio-table_data {
      color: #3e4975; }
    .dash-portfolio-table-name {
      color: #aab4ff;
      font-size: 1.4rem; }
    .dash-portfolio-table__minor {
      color: #b3bbd7;
      margin-top: .5rem;
      font-size: 1rem; }

.dash-actions {
  height: 100%;
  width: 100%;
  padding: 1rem; }
  .dash-actions-content {
    padding: 2rem;
    height: 100%;
    width: 100%; }

.green {
  color: rgba(13, 206, 13, 0.7); }

.red {
  color: rgba(243, 42, 42, 0.952); }

.margin {
  margin: 2rem 0rem; }

.explore-row-full {
  width: 98%;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem; }

.explore-section {
  padding: 1rem; }
  .explore-section-header {
    font-size: 1.4rem; }
  .explore-section-content {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem; }
    .explore-section-content_item {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 1rem;
      border-radius: 5px;
      border: solid 1px #0a0a14;
      box-shadow: 2px 2px 10px 0px #0a0a14; }

.losers-header {
  margin-top: 4rem; }

.quote {
  height: 90%;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .quote-top {
    min-height: 100%;
    width: 25%; }
  .quote-base {
    padding: 1rem;
    min-height: 100%;
    width: 75%; }
  .quote-header {
    width: 88%;
    margin: 0 auto;
    margin-bottom: 2rem; }
  .quote-company {
    padding: 1rem; }
    .quote-company-symbol {
      height: 4rem;
      width: 4rem;
      background-color: wheat;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem; }
    .quote-company-icon {
      height: 3rem;
      width: 3rem; }
    .quote-company-stock {
      color: #67CDE4;
      font-size: 3rem; }
    .quote-company-name {
      font-size: 1.6rem;
      margin-bottom: 1rem;
      color: #3e4975; }
    .quote-company-price {
      font-size: 2rem;
      margin: 2rem 0rem;
      color: #aab4ff;
      font-weight: 800; }
      .quote-company-price_stats {
        font-size: 1.2rem;
        font-weight: 500;
        margin-left: 1rem; }
    .quote-company-description {
      font-size: 1rem;
      line-height: 1.7;
      margin-top: 2rem; }
  .quote-form {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    padding: 1rem; }
    .quote-form_input {
      padding: .8rem;
      border-radius: 5px;
      border: none;
      margin-top: 1rem;
      width: 60px; }
    .quote-form_action {
      width: 20%;
      margin-top: 2.4rem; }
    .quote-form_group {
      display: flex;
      flex-direction: column; }
  .quote-table {
    width: 100%;
    margin: 2rem 0rem;
    border-radius: 5px; }
    .quote-table_data {
      font-size: 1rem;
      padding: 1rem 1rem;
      background-color: #20263a; }

.portfolio {
  min-height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .portfolio-right-sell {
    padding: 1rem;
    width: 60%; }
    .portfolio-right-sell_heading {
      margin-top: .5rem;
      margin-bottom: 2.5rem; }
  .portfolio-right-transactions {
    padding: 1rem;
    margin-top: 1rem; }

.account {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr; }
  .account-wallet {
    margin-top: 2rem; }
    .account-wallet-value {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 2rem; }
    .account-wallet-heading {
      margin-bottom: 1rem; }
  .account-password {
    margin-top: 2rem; }
  .account-history {
    margin-top: 4rem; }
  .account-remove {
    padding: 2rem;
    background-color: #3e4975;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto; }
    .account-remove-text {
      font-size: 1.2rem;
      color: #b3bbd7;
      margin: .5rem 2rem;
      margin-bottom: 2rem; }
    .account-remove-action {
      margin-left: 2rem; }

.confirmation {
  height: 90%;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .confirmation-content {
    width: 60%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px #0a0a14;
    padding: 2rem; }
  .confirmation-form {
    display: inline-block;
    width: 80%;
    padding: 2rem; }
    .confirmation-form_input {
      padding: .8rem;
      border-radius: 5px;
      border: none;
      width: 200px;
      margin: 0 auto;
      margin-top: 1rem;
      background-color: lemonchiffon;
      text-align: center; }
    .confirmation-form_label {
      margin-top: 1rem; }
    .confirmation-form_text {
      margin: 1rem; }
  .confirmation-symbol {
    height: 4rem;
    width: 4rem;
    background-color: wheat;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1rem; }

.flex-button-group {
  margin-top: 3rem; }
