%animate-left {
    animation-name: fade-in-left;
    animation-timing-function: ease;
}

.animate-left-first {
    @extend %animate-left;
    animation-duration: 2s;
}

.animate-left-second {
    @extend %animate-left;
    animation-duration: 4s;
}

.animate-left-third {
    @extend %animate-left;
    animation-duration: 6s;
}

.animate-fade-in {
    animation-name: fade-in;
    animation-timing-function: ease;
    animation-duration: 10s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}