.animate-left-first {
    animation-name: fade-in-left;
    animation-timing-function: ease;
    animation-duration: 2s;
}

.animate-left-second {
    animation-name: fade-in-left;
    animation-timing-function: ease;
    animation-duration: 4s;
}

.animate-left-third {
    animation-name: fade-in-left;
    animation-timing-function: ease;
    animation-duration: 6s;
}

.animate-float {
    animation-name: float;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.animate-fade-in {
    animation-name: fade-in;
    animation-timing-function: ease;
    animation-duration: 10s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes float {
    0% {
        // transform: translateY(-10px);
        transform: translate3d(-10px, -10px, 0px);
    }
    50% {
        // transform: translateY(10px);
        transform: translate3d(10px, 10px, 0px);
    }
    100% {
        // transform: translateY(-10px);
        transform: translate3d(-10px, -10px, 0px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}