* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $color-blue-darkest;
    font-family: Arial, Helvetica, sans-serif;
    color: $color-white-light;
    min-height: 100vh;
    letter-spacing: 1.1px;
}

a {
    text-decoration: none;
    color: inherit;
}

.body-wrapper {
    min-height: 88vh;
    width: 100%;
}

.color-blue {
    color: $color-blue-main;
    font-weight: 700;
    font-style: bold;
    font-size: 1.8rem;
}