@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;700&display=swap');
$color-black-darkest: #101322;
$color-black-lighter: #20263a;
$color-blue-darkest: #212841;
$color-blue-main: #2E75DF;
$color-blue-highlight: #67CDE4;
$color-white-light: #E8E8E8;
$color-gradient-left: #26C7F2;
$color-gradient-right: #ED68BD;
$font-roboto: 'Roboto',
sans-serif;
$font-roboto-slab: 'Roboto Slab',
serif;
$border-radius: 5px;