@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;700&display=swap');
$color-black-darkest: #151928; // Raisin Black
$color-blue-darkest: #1B2136; // Oxford Blue
$color-black-lighter: #20263a;
$color-blue-middle: #37426D; // Purple Navy
$color-blue-main: #2E75DF; // Bright Navy Blue
$color-blue-highlight: #67CDE4;
$color-white-light: hsla(227,
31%,
88%,
.95); // lavenadr blue
// $color-white-light: #E4E7F1; // ghost white
$color-gradient-left: #26C7F2;
$color-gradient-right: #ED68BD;
$font-roboto: 'Roboto',
sans-serif;
$font-roboto-slab: 'Roboto Slab',
serif;
$border-radius: 5px;
$color-text: #b3bbd7;
$color-text-dark: #3e4975;