.dashboard {
    height: 90vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    &-wrapper {
        background-color: $color-blue-darkest;
        height: 100%;
        overflow: scroll;
        min-width: 98vw;
        border-radius: $border-radius;
        display: grid;
        grid-template-columns: 5% 95%;
    }
    &-nav {
        border-radius: $border-radius;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: $color-black-darkest;
    }
    &-list {
        list-style-type: none;
        &--item {
            margin-top: 4rem;
        }
    }
    &-content {
        border-radius: $border-radius;
        background-color: $color-blue-darkest;
        border-left: 1px solid $color-white-light;
        border-top: 1px solid $color-white-light;
        padding: 2rem;
        &--title {
            margin: .5rem 1.2rem;
        }
    }
    &-row--top {
        display: flex;
        align-items: center;
        width: 100%;
        // background-color: yellow;
        justify-content: space-evenly;
    }
    &-row--content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        // background-color: aqua;
        width: 100%;
    }
    &-cards {
        display: flex;
        flex-wrap: wrap;
        // background-color: violet;
    }
    &-news {
        // background-color: olive;
        border: 1px solid white;
        margin: 1rem;
        height: 100%;
        padding: 1rem;
        &--list {
            list-style-type: none;
        }
        &--item {
            border-radius: $border-radius;
            background-color: cadetblue;
            margin: 1rem 0;
            padding: 1rem;
        }
    }
    &-card {
        &-small {
            position: relative;
            box-shadow: 2px 2px 5px 0px $color-black-darkest;
            &--img {
                height: 3rem;
                width: 3rem;
            }
            &--symbol {
                color: $color-white-light;
                font-size: 1.4rem;
                font-weight: 700;
                margin-top: 1rem;
            }
            &--name {
                color: #c4c4c4;
                font-weight: 300;
                font-size: 1rem;
                margin-top: 1rem;
            }
            &--price {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                position: absolute;
                bottom: 5px;
                border-top: solid 1px #2b2b5f;
                padding-top: .5rem;
                &_title {
                    font-weight: .8rem;
                }
                &_value {
                    color: $color-blue-highlight;
                    font-size: 1.4rem;
                    font-weight: 700;
                }
            }
        }
        &-image {
            height: 10rem;
            width: 10rem;
            &--img {
                height: 100%;
                width: 100%
            }
        }
        &-info {
            &--img {
                height: 1rem;
            }
        }
    }
}

.green {
    color: green;
}

.red {
    color: red;
}