.dashboard {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
    &-wrapper {
        height: 100%;
        min-width: 100vw;
        border-radius: $border-radius;
        display: grid;
        grid-template-columns: 8% 92%; // nav & content
    }
    &-nav {
        border-top-right-radius: $border-radius;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: #0A0A13;
    }
    &-list {
        list-style-type: none;
        margin-top: 10rem;
        &--item {
            margin-top: 4rem;
            opacity: .8;
        }
        &--link {
            font-size: .8rem;
            display: flex;
            align-items: center;
        }
        &--icon {
            height: 3.2rem;
            width: 3.2rem;
            border-left: 5px solid #0A0A13;
            padding-left: 10px;
        }
        &--text {
            margin-left: .8rem;
        }
    }
    &-content {
        border-radius: $border-radius;
        background-color: $color-black-darkest;
        // color: $color-black-lighter;
        color: $color-text;
        padding: 2rem;
    }
    &-title {
        font-size: 1.4rem;
    }
}