.dashboard {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
    &-wrapper {
        height: 100%;
        min-width: 100vw;
        border-radius: $border-radius;
        display: grid;
        grid-template-columns: 8% 92%;
    }
    &-nav {
        border-top-right-radius: $border-radius;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: #0A0A13;
    }
    &-list {
        list-style-type: none;
        margin-top: 10rem;
        &--item {
            margin-top: 4rem;
            opacity: .8;
        }
        &--link {
            font-size: .8rem;
            display: flex;
            align-items: center;
        }
        &--icon {
            height: 3.2rem;
            width: 3.2rem;
            border-left: 5px solid #0A0A13;
            padding-left: 10px;
        }
        &--text {
            margin-left: .8rem;
        }
    }
    &-content {
        border-radius: $border-radius;
        background-color: $color-white-light;
        color: $color-black-lighter;
        padding: 2rem;
        &--title {
            margin: .5rem 1.2rem;
        }
    }
    &-row--top {
        display: flex;
        align-items: center;
        width: 100%;
        // background-color: yellow;
        justify-content: space-evenly;
    }
    &-row--content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        // background-color: aqua;
        width: 100%;
    }
    &-cards {
        display: flex;
        flex-wrap: wrap;
        // background-color: violet;
    }
    &-news {
        // background-color: olive;
        border: 1px solid white;
        margin: 1rem;
        height: 100%;
        padding: 1rem;
        &--list {
            list-style-type: none;
        }
        &--item {
            border-radius: $border-radius;
            // background-color: cadetblue;
            margin: 1rem 0;
            padding: 1rem;
        }
    }
    &-section-title {
        padding: .5rem;
        width: 90%;
        margin-left: 1rem;
        color: $color-blue-main;
    }
    &-card {
        &-small {
            position: relative;
            box-shadow: 2px 2px 5px 0px $color-black-darkest;
            &--img {
                height: 3rem;
                width: 3rem;
            }
            &--symbol {
                color: $color-white-light;
                font-size: 1.4rem;
                font-weight: 700;
                margin-top: 1rem;
            }
            &--name {
                color: #c4c4c4;
                font-weight: 300;
                font-size: 1rem;
                margin: 1rem 0rem;
            }
            &--info {
                padding: .5rem 0rem;
                font-size: 10px;
                position: absolute;
                bottom: 30px;
            }
            &--icon {
                height: 1rem;
                opacity: .7;
            }
            &--price {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                position: absolute;
                bottom: 5px;
                border-top: solid 1px #2b2b5f;
                padding-top: .5rem;
                &_title {
                    font-weight: .8rem;
                }
                &_value {
                    color: $color-blue-highlight;
                    font-size: 1.4rem;
                    font-weight: 700;
                }
            }
        }
        &-large {
            position: relative;
            box-shadow: 2px 2px 5px 0px $color-black-darkest;
            display: flex;
            justify-content: space-between;
            min-height: 200px;
            background-color: white;
            padding: 0;
            &--display {
                // background: linear-gradient(to right bottom, $color-gradient-left, $color-gradient-right);
                background-color: $color-black-darkest;
                border-left: 10px solid $color-blue-highlight;
                width: 38%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: inherit;
                font-size: 3.4rem;
                text-align: center;
                font-weight: bold;
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
            }
            &--content {
                width: 60%;
                padding: 1rem;
            }
            &--img {
                height: 4rem;
                width: 4rem;
            }
            &--symbol {
                // color: $color-white-light;
                color: $color-black-darkest;
                font-size: 2rem;
                font-weight: 700;
                margin-top: 1rem;
            }
            &--name {
                color: #211557a4;
                font-weight: 300;
                font-size: 1.6rem;
                margin: 1rem 0rem;
            }
            &--info {
                padding: .5rem 0rem;
                font-size: 16px;
                position: absolute;
                bottom: 30px;
            }
            &--icon {
                height: 1rem;
                opacity: .7;
            }
            &--price {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 55%;
                position: absolute;
                bottom: 5px;
                border-top: solid 1px #2b2b5f;
                padding-top: .5rem;
                &_title {
                    font-weight: 1rem;
                }
                &_value {
                    color: $color-blue-highlight;
                    font-size: 1.4rem;
                    font-weight: 700;
                }
            }
        }
    }
}

.green {
    color: rgba(0, 128, 0, .7);
}

.red {
    color: rgba(255, 0, 0, .7);
}

.med {
    width: 40%;
    display: inline-block;
    &-full {
        width: 90%;
    }
}