.account {
    background-color: crimson;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    &-wallet {
        background-color: darkcyan;
        &-value {
            text-align: center;
            font-size: 2rem;
            ;
        }
    }
    &-password {
        background-color: lemonchiffon;
    }
}