.dash {
    &-row {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-gap: 1rem;
        margin-top: 2rem;
        min-height: 40vh;
    }
    &-heading {
        font-weight: 300;
    }
}

.dash-trending {
    height: 100%;
    width: 100%;
    &--header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 2rem;
    }
    &--table {
        width: 94%;
        margin: 0 auto;
        text-align: center;
        border: 1px solid #0a0a14;
        padding: 1rem;
        border-radius: $border-radius;
        box-shadow: 2px 2px 10px 0px #0a0a14;
        &_header {
            background-color: $color-text;
            color: $color-text-dark;
        }
        &_head {
            padding: 1rem;
        }
        &_data {
            color: inherit;
            padding: 1rem;
        }
    }
    &-assets {
        margin-top: 1rem;
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        &--item {
            display: flex;
            border: 1px solid #0a0a14;
            box-shadow: 2px 2px 10px 0px #0a0a14;
            margin: 1rem;
            align-items: center;
            padding: 1rem;
            border-radius: $border-radius;
        }
        &_name {
            margin: 0rem 0.8rem;
        }
        &_img {
            height: 2rem;
        }
    }
}

.dash-spotlight {
    height: 100%;
    width: 100%;
    padding: 1rem;
    min-height: 20vh;
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    &--content {
        width: 98%;
        height: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 4rem;
        margin-top: 1rem;
        border-radius: $border-radius;
        box-shadow: 2px 2px 10px 0px #0a0a14;
        &_image {
            padding: 0rem;
            height: 18rem;
        }
        &_img {
            height: 100%;
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom-left-radius: $border-radius;
            border-top-left-radius: $border-radius;
        }
        &_text {
            color: white;
            width: 60%;
            height: 100%;
            border-bottom-right-radius: $border-radius;
            border-top-right-radius: $border-radius;
            display: grid;
            align-items: center;
            padding: 1rem;
            &-symbol {
                color: $color-blue-highlight;
                font-size: 2.4rem;
            }
            &-name {
                color: $color-text;
                font-size: 2rem;
            }
            &-description {
                font-size: 1rem;
                margin: 1rem 0;
                color: $color-text;
                line-height: 1.7;
            }
            &-price {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1rem;
                margin-right: 1rem;
                color: $color-text;
            }
        }
    }
}

.dash-portfolio {
    height: 100%;
    width: 100%;
    &--content {
        width: 94%;
        margin: 0 auto;
        padding-top: 1.4rem;
    }
    &-table {
        width: 100%;
        &__item {
            border-radius: $border-radius;
            padding: 1.4rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 2rem;
            box-shadow: 2px 2px 10px 0px #0a0a14;
        }
        &_img {
            background-color: $color-text;
            border-radius: 50%;
            height: 5rem;
            padding: .5rem;
        }
        &_data {
            color: $color-text-dark;
        }
        &-name {
            color: $color-text-highlight;
            font-size: 1.4rem;
        }
        &__minor {
            color: $color-text;
            margin-top: .5rem;
            font-size: 1rem;
        }
    }
}

.dash-actions {
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.green {
    color: rgba(13, 206, 13, 0.7);
}

.red {
    color: rgba(243, 42, 42, 0.952);
}

.margin {
    margin: 2rem 0rem;
}