.explore {
    &-row-full {
        width: 98%;
        margin: 0 auto;
        margin-top: 1rem;
        padding: 1rem;
    }
    &-section {
        padding: 1rem;
        &-header {
            font-size: 1.4rem;
        }
        &-content {
            margin-top: 1rem;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 1rem;
            &_item {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 1rem;
                border-radius: $border-radius;
                border: solid 1px #0a0a14;
                box-shadow: 2px 2px 10px 0px #0a0a14;
            }
        }
    }
}