.heroImage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    opacity: .5;
}

.heroBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -500;
    opacity: .5;
    background-color: $color-blue-darkest;
}

.hero {
    height: 75vh;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    &-headings {
        text-align: center;
        margin-bottom: 2rem;
    }
    &-header1 {
        font-size: 10rem;
        text-shadow: -0.0075em 0.0075em 0 mix(#fff, $color-blue-main, 94%), 0.005em 0.005em 0 mix(#fff, $color-blue-main, 60%), 0.01em 0.01em 0 mix(#fff, $color-blue-main, 62%), 0.015em 0.015em mix(#fff, $color-blue-main, 64%), 0.02em 0.02em 0 mix(#fff, $color-blue-main, 66%), 0.025em 0.025em 0 mix(#fff, $color-blue-main, 68%), 0.03em 0.03em 0 mix(#fff, $color-blue-main, 70%), 0.035em 0.035em 0 mix(#fff, $color-blue-main, 72%);
    }
    &-left {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &-right {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-content {
            width: 80%;
        }
    }
}

.section {
    height: 80vh;
    width: 100vw;
    background-color: $color-blue-darkest;
    &-heading {
        font-size: 6rem;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 2rem;
        padding-top: 2rem;
        color: $color-text-dark;
    }
    &-cards {
        display: flex;
        margin-top: 4rem;
    }
    &-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &-subhero {
        width: 100vw;
        height: 18vh;
        display: grid;
        grid-template-columns: 20% 65% 15%;
        &-content {
            background-color: white;
            color: $color-text-dark;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &-stocks {
                display: flex;
                justify-content: space-evenly;
                &_stock {
                    height: 5rem;
                    width: 5rem;
                    margin: 0rem 2rem;
                }
            }
            &-list {
                list-style-type: none;
                margin-left: 4rem;
                &_item {
                    color: inherit;
                }
            }
            &_footer {
                color: $color-text-dark;
            }
        }
    }
    &-content {
        background-color: $color-white-light;
        height: 60vh;
        opacity: .95;
        padding: 1rem 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_text {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &--header {
                font-size: 5rem;
                color: $color-blue-main;
            }
            &--text {
                font-size: 1.2rem;
                line-height: 1.7;
                margin-top: 2rem;
                color: $color-text-dark
            }
        }
        &_image {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    &-testimonial {
        padding: 4rem;
        &--card {
            display: grid;
            grid-template-columns: 30% 70%;
            align-items: center;
            justify-content: center;
        }
        &--card-2 {
            display: grid;
            grid-template-columns: 70% 30%;
            align-items: center;
            justify-content: center;
        }
        &-image {
            // background-color: $color-white-light;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30vh;
            opacity: .8;
            border-radius: $border-radius;
        }
        &--img {
            height: 16rem;
            width: 16rem;
        }
        &-text {
            height: 30vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 4rem;
            &-content {
                font-size: 1.8rem;
                line-height: 1.6;
            }
            &-name {
                font-size: 1.2;
                font-style: italic;
                color: $color-blue-main;
            }
        }
    }
    &-base {
        height: 60vh;
        background-color: $color-white-light;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-header {
            font-size: 4rem;
            color: $color-text-dark;
            text-shadow: -0.0075em 0.0075em 0 mix(#fff, $color-blue-main, 94%), 0.005em 0.005em 0 mix(#fff, $color-blue-main, 60%), 0.01em 0.01em 0 mix(#fff, $color-blue-main, 62%), 0.015em 0.015em mix(#fff, $color-blue-main, 64%), 0.02em 0.02em 0 mix(#fff, $color-blue-main, 66%), 0.025em 0.025em 0 mix(#fff, $color-blue-main, 68%), 0.03em 0.03em 0 mix(#fff, $color-blue-main, 70%), 0.035em 0.035em 0 mix(#fff, $color-blue-main, 72%);
        }
    }
}

.index-button {
    margin-top: 4rem;
}