.quote {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &-top {
        background-color: darkcyan;
        padding: 1rem;
        min-height: 100%;
        width: 40%;
    }
    &-base {
        background-color: darkgoldenrod;
        padding: 1rem;
        min-height: 100%;
        width: 60%;
    }
}