.quote {
    height: 90%;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    // align-items: center;
    &-top {
        margin-top: 1rem;
        min-height: 100%;
        width: 25%;
    }
    &-base {
        padding: 1rem;
        min-height: 100%;
        width: 75%;
    }
    &-header {
        width: 88%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    &-company {
        padding: 1rem;
        &-symbol {
            height: 4rem;
            width: 4rem;
            background-color: wheat;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
        }
        &-icon {
            height: 3rem;
            width: 3rem;
        }
        &-stock {
            color: $color-blue-highlight;
            font-size: 3rem;
        }
        &-name {
            font-size: 1.6rem;
            margin-bottom: 1rem;
            color: $color-text-dark;
        }
        &-price {
            font-size: 2rem;
            margin: 2rem 0rem;
            color: $color-text-highlight;
            font-weight: 800;
            &_stats {
                font-size: 1.2rem;
                font-weight: 500;
                margin-left: 1rem;
            }
        }
        &-description {
            font-size: 1rem;
            line-height: 1.7;
            margin-top: 2rem;
        }
    }
    &-form {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
        padding: 1rem;
        &_input {
            padding: .8rem;
            border-radius: $border-radius;
            border: none;
            margin-top: 1rem;
            width: 60px;
        }
        &_action {
            width: 20%;
            margin-top: 2.4rem;
        }
        &_group {
            display: flex;
            flex-direction: column;
        }
    }
    &-table {
        width: 100%;
        margin: 2rem 0rem;
        border-radius: $border-radius;
        &_data {
            font-size: 1rem;
            padding: 1rem 1rem;
            background-color: $color-black-lighter;
        }
    }
}