{% extends '/layoutDashboard.html' %}
<!-- Active Page -->
{% set active_page = 'account' %}

<!-- page title -->
{% block title %} account {% endblock %}

<!-- main content -->
{% block dashboard %}
<div class="account">
    <div class="account-wallet">
        <div class="dash-trending--header">
            <h3 class="dash-heading portfolio-right-sell_heading">Wallet</h3>
        </div>
        <div class="account-wallet-value">
            <h5 class="account-wallet-heading">Current Amount in Wallet</h5>
            <div class="account-wallet-value_dollar">$200.00</div>
        </div>
        <!-- Tab content -->
        <div id="Wallet" class="tab-content first">
            <form class='tab-form'>
                <div class="tab-form-group">
                    <label for="quantity" class='tab-form-label'>Amount $</label>
                    <input id='quanitity' type='number' placeholder='10' class='tab-form-input'>
                </div>
                <button type='submit' class='tab-form-action btn-primary'>Top Up Wallet</button>
            </form>
        </div>
        <div class="dash-trending--header account-history">
            <h3 class="dash-heading portfolio-right-sell_heading">transaction history</h3>
        </div>
        <table class="dash-trending--table">
            <tr class="dash-trending--table_header">
                <th class="dash-trending--table_head">Amount</th>
                <th class="dash-trending--table_head">transaction date</th>
            </tr>
            <tr>
                <td class="dash-trending--table_data green">+$109.92</td>
                <td class="dash-trending--table_data">2021-07-08 05:16:00</td>
            </tr>
            <tr>
                <td class="dash-trending--table_data red">-$109.92</td>
                <td class="dash-trending--table_data">2021-07-08 05:16:00</td>
            </tr>
        </table>
    </div>
    <div class="account-password">
        <div class="dash-trending--header">
            <h3 class="dash-heading portfolio-right-sell_heading">Password Change</h3>
        </div>
        <form action="#" class="password-form">
            <div class="password-form--formgroup">
                <label class="password-form--label" for='current'>Current Password</label>
                <input type="text" id='current' name='currentPassword' class="password-form--input" placeholder='current password'>
            </div>
            <div class="password-form--formgroup">
                <label class="password-form--label" for='new'>New Password</label>
                <input type="password" id='new' name='newPassword' class="password-form--input" placeholder='new password'>
            </div>
            <div class="password-form--formgroup">
                <label class="password-form--label" for='confirm'>Confirm New Password</label>
                <input type="password" id='confirm' name='confirmPassword' class="password-form--input" placeholder='confrim new password'>
            </div>
            <button type='submit' class='btn-primary'>Set new password</button>
        </form>
    </div>
</div>

{% endblock %}