{% extends '/layoutDashboard.html' %}
<!-- Active Page -->
{% set active_page = 'confirmation' %}

<!-- page title -->
{% block title %} confirmation {% endblock %}

<!-- main content -->
{% block dashboard %}
<div class="confirmation">
    <div class="confirmation-content">
        {% if action == 'delete' %}
        <h1 class='quote-header'>Confirm request to {{action}} account </h1>
        <div class="confirmation-symbol">
            <img src="{{url_for('static', filename='img/dashboard/account.svg')}}" alt='company details' class='quote-company-icon'>
        </div>
        <form class="confirmation-form" method="POST" action="/confirmation/{{action}}">
            <input hidden name='id'>
            <div class="flex-button-group">
                <input type='button' onclick="history.back(-1)" class="btn-tertiary" value='cancel'>
                <button type="submit" class="btn-delete">{{action}}</button>
            </div>
        </form>
        {% else %}
        <h1 class='quote-header'>Confirmation of {{action}}</h1>
        <div class="confirmation-symbol">
            <img src="{{url_for('static', filename='img/dashboard/buy.svg')}}" alt='company details' class='quote-company-icon'>
        </div>
        <h2 class="quote-company-stock">{{symbol}}</h2>
        <div class="quote-company-name">{{name}}</div>
        <form class="confirmation-form" method="POST" action="/confirmation/{{action}}">
            <div class="quote-form_group">
                <input type="text" id='symbol' class="quote-form_input" name="symbol" value={{symbol}} hidden>
            </div>
            <div class="quote-form_group">
                <input type="text" id='name' class="quote-form_input" name="name" value={{name}} hidden>
            </div>
            <div class="quote-form_group">
                <label for="price" class='confirmation-form_label'>Price per Unit</label>
                <input type="number" id='price' class="confirmation-form_input" name="price" value={{price}} disabled>
            </div>
            <div class="quote-form_group">
                <label for="total" class='confirmation-form_label'>Total Cost</label>
                <input type="number" id='total' class="confirmation-form_input" name="total" value={{total}} disabled>
            </div>
            <p class='confirmation-form_text'>Your wallet balance after {{action}}: {{remainder}}</p>
            <div class="flex-button-group">
                <input type='button' onclick="history.back(-1)" class="btn-tertiary" value='cancel'>
                <button type="submit" class="btn-primary">{{action}}</button>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}