{% extends '/layoutDashboard.html' %}
<!-- Active Page -->
{% set active_page = 'confirmation' %}

<!-- page title -->
{% block title %} confirmation {% endblock %}

<!-- main content -->
{% block dashboard %}
<div class="confirmation">
    <div class="confirmation-content">
        <h1 class='quote-header'>Confirmation of {{action}}</h1>
        <div class="confirmation-symbol">
            <img src="{{url_for('static', filename='img/dashboard/buy.svg')}}" alt='company details' class='quote-company-icon'>
        </div>
        <h2 class="quote-company-stock">{{symbol}}</h2>
        <div class="quote-company-name">{{name}}</div>
        <form class="confirmation-form" method="POST" action="/confirmation">
            <div class="quote-form_group">
                <input type="text" id='symbol' class="quote-form_input" name="symbol" value={{symbol}} hidden>
            </div>
            <div class="quote-form_group">
                <input type="text" id='name' class="quote-form_input" name="name" value={{name}} hidden>
            </div>
            <div class="quote-form_group">
                <label for="price">Price per Unit</label>
                <input type="number" id='price' class="quote-form_input" name="price" value={{price}} disabled>
            </div>
            <div class="quote-form_group">
                <label for="total">Total Cost</label>
                <input type="number" id='total' class="quote-form_input" name="total" value={{total}} disabled>
            </div>
            <p>Your wallet balance after {{action}}: {{remainder}}</p>
            <div class="flex-button-group">
                <button type="submit" class="btn-tertiary ">Cancel</button>
                <button type="submit" class="btn-primary ">{{action}}</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}