{% extends '/layoutDashboard.html' %}

<!-- Active Page -->
{% set active_page = 'dashboard' %}
<!-- page title -->
{% block title %} Dashboard {% endblock %}

<!-- main content -->
{% block dashboard %}

<div class="dash">
    <div class="dash-row">
        <div class="dash-left">
            <div class="dash-spotlight">
                <div class="dash-trending--header">
                    <h3 class="dash-heading">Spotlight Stock</h3>
                </div>
                <div class="dash-spotlight--content">
                    {% if spotlight %}
                    <div class="dash-spotlight--content_img">
                        <img src="{{url_for('static', filename='/img/dashboard/chart.svg')}}" class='dash-spotlight--content_image'>
                    </div>
                    <div class="dash-spotlight--content_text">
                        <div class="dash-spotlight--content_text-symbol">{{spotlight['symbol']}}</div>
                        <div class="dash-spotlight--content_text-name">{{spotlight['name']}}</div>
                        <div class="dash-spotlight--content_text-exchange">{{spotlightCompanyDetails['exchange']}}</div>
                        {% if spotlightCompanyDetails %}
                        <p class="dash-spotlight--content_text-description">{{spotlightCompanyDetails['description']}}</p>
                        {% else %}
                        <p>-----</p>
                        {% endif %}
                        <div class="dash-spotlight--content_text-sector">{{spotlightCompanyDetails['sector']}}</div>
                        <hr class='margin'>
                        <div class="dash-spotlight--content_text-price">
                            <div class="dash-spotlight--content_text-price">price</div>
                            {% if spotlight.changePrice > 0 %}
                            <div class="dash-spotlight--content_text-details green">{{spotlight.price | formatDollar}} (up {{spotlight.changePercentage | formatPercentage}})</div>
                            {% else %}
                            <div class="dash-spotlight--content_text-details red">{{spotlight.price | formatDollar}} (down {{spotlight.formatPercentage}})</div>
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <p>Welcome to KB Trader</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="dash-right dash-long">
            <div class="dash-trending">
                <div class="dash-trending--header">
                    <h3 class="dash-heading">Trending Stock</h3>
                    <a href='/explore'><button class='btn-tertiary'>view all</button></a>
                </div>
                <table class="dash-trending--table">
                    <tr class="dash-trending--table_header">
                        <th class="dash-trending--table_head">#</th>
                        <th class="dash-trending--table_head">name</th>
                        <th class="dash-trending--table_head">price/unit</th>
                        <th class="dash-trending--table_head">change</th>
                    </tr>
                    {% if trending %} {% for stock in trending %}
                    <tr>
                        <td class="dash-trending--table_data">{{loop.index}}</td>
                        <td class="dash-trending--table_data">{{stock.name}}</td>
                        <td class="dash-trending--table_data">{{stock.price | formatDollar}}</td>
                        {% if stock.changePrice > 0 %}
                        <td class="dash-trending--table_data green">+{{stock.changePercentage | formatPercentage}}</td>
                        {% else %}
                        <td class="dash-trending--table_data red">{{stock.changePercentage | formatPercentage}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %} {% else %}
                    <tr>
                        <td class="dash-trending--table_data">1</td>
                        <td class="dash-trending--table_data">------</td>
                        <td class="dash-trending--table_data">$----</td>
                        <td class="dash-trending--table_data green">---%</td>
                    </tr>
                    {% endif %}
                </table>
                <div class="dash-trending-assets">
                    <div class="dash-trending-assets--item">
                        <div class="dash-trending-assets_image">
                            <img src="{{url_for('static', filename='/img/dashboard/bitcoin.svg')}}" alt="Bitcoin" class="dash-trending-assets_img">
                        </div>
                        <div class=" dash-trending-assets_name ">
                            Bitcoin
                        </div>
                        {% if bitcoin %}
                        <div class="dash-trending-assets_cost ">
                            {{ bitcoin | formatDollar }}
                        </div>
                        {% else %}
                        <div class="dash-trending-assets_cost ">
                            -.-
                        </div>
                        {% endif %}
                    </div>
                    <div class="dash-trending-assets--item ">
                        <div class="dash-trending-assets_image ">
                            <img src="{{url_for( 'static', filename='/img/dashboard/litecoin.svg' )}} " alt="LiteCoin" class="dash-trending-assets_img">
                        </div>
                        <div class="dash-trending-assets_name ">
                            Litecoin
                        </div>
                        {% if litecoin %}
                        <div class="dash-trending-assets_cost ">
                            {{ litecoin | formatDollar }}
                        </div>
                        {% else %}
                        <div class="dash-trending-assets_cost ">
                            -.-
                        </div>
                        {% endif %}
                    </div>
                    <div class="dash-trending-assets--item ">
                        <div class="dash-trending-assets_image ">
                            <img src="{{url_for( 'static', filename='/img/dashboard/ethereum.svg' )}} " alt="ethereum" class="dash-trending-assets_img">
                        </div>
                        <div class="dash-trending-assets_name ">
                            ethereum
                        </div>
                        {% if eth %}
                        <div class="dash-trending-assets_cost ">
                            {{ eth | formatDollar }}
                        </div>
                        {% else %}
                        <div class="dash-trending-assets_cost ">
                            -.-
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dash-row dash-long ">
        <div class="dash-left ">
            <div class="dash-portfolio ">
                <div class="dash-trending--header ">
                    <h3 class="dash-heading ">Your portfolio</h3>
                    <a href='/explore'><button class='btn-tertiary'>view all</button></a>
                </div>
                <div class="dash-portfolio--content ">
                    <table class='dash-portfolio-table'>
                        {% if portfolio %}
                        <tr class='dash-portfolio-table__item'>
                            <td>
                                <img src="{{url_for( 'static', filename='/img/dashboard/buy.svg' )}} " alt='stock symbol' class='dash-portfolio-table_img'>
                            </td>
                            <td class="dash-portfolio-table_data dash-portfolio-table-name ">MINX version control <br>
                                <p class=' dash-portfolio-table__minor '>sdlfksmds</p>
                            </td>
                            <td class="dash-portfolio-table_data green ">$109.92 <br>
                                <p class='dash-portfolio-table__minor '>sdlfksmds</p>
                            </td>
                            <td class="dash-portfolio-table_data green ">+49.00% <br>
                                <p class='dash-portfolio-table__minor '>sdlfksmds</p>
                            </td>
                        </tr>
                        {% else %}
                        <tr class='dash-portfolio-table__item'>
                            <td>
                                <img src="{{url_for( 'static', filename='/img/dashboard/buy.svg' )}} " alt='stock symbol' class='dash-portfolio-table_img'>
                            </td>
                            <td class="dash-portfolio-table_data dash-portfolio-table-name ">---- <br>
                                <p class=' dash-portfolio-table__minor '>company</p>
                            </td>
                            <td class="dash-portfolio-table_data green ">$---- <br>
                                <p class='dash-portfolio-table__minor '>price</p>
                            </td>
                            <td class="dash-portfolio-table_data green ">---% <br>
                                <p class='dash-portfolio-table__minor '>change</p>
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
        <div class="dash-right ">
            <div class="dash-actions">
                <div class="dash-trending--header">
                    <h3 class="dash-heading">Quick Actions</h3>
                    <a href='/quote'><button class='btn-tertiary'>view all</button></a>
                </div>
                <div class="dash-actions-content">
                    <!-- Tab links -->
                    <div class="tab">
                        <button class="tab-links tab-active" onclick="openCity(event, 'Buy')">Buy</button>
                        <button class="tab-links" onclick="openCity(event, 'Sell')">Sell</button>
                    </div>
                    <!-- Tab content -->
                    <div id="Buy" class="tab-content first">
                        <form class='tab-form'>
                            <div class="tab-form-group">
                                <label for="symbol" class='tab-form-label'>symbol</label>
                                <input id='symbol' type='text' placeholder='AAPL' class='tab-form-input'>
                            </div>
                            <div class="tab-form-group">
                                <label for="quantity" class='tab-form-label'>quantity</label>
                                <input id='quantity' type='number' placeholder='1' class='tab-form-input'>
                            </div>
                            <button type='submit' class='tab-form-action btn-primary'>Buy</button>
                        </form>
                    </div>

                    <div id="Sell" class="tab-content">
                        <form class='tab-form'>
                            <div class="tab-form-group">
                                <label for="symbol" class='tab-form-label'>symbol</label>
                                <select id='symbol' type='text' placeholder='AAPL' class='tab-form-input'>
                                    <option>hi</option>
                                    <option>hello</option>
                                    <option>bye</option>
                                </select>
                            </div>
                            <div class="tab-form-group">
                                <label for="quantity" class='tab-form-label'>quantity</label>
                                <input id='quantity' type='number' placeholder='1' class='tab-form-input'>
                            </div>
                            <button type='submit' class='tab-form-action btn-primary'>Sell</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}