{% extends '/layout.html' %}
<!-- page title -->
{% block title %} Dashboard {% endblock %}

<!-- main content -->
{% block main %}

<div class="dashboard">
    <div class="dashboard-wrapper">
        <div class="dashboard-nav">
            <ul class='dashboard-list'>
                <li class="dashboard-list--item">
                    <a href="#" class='dashboard-list--link'>
                        <img src="{{url_for('static', filename='/img/dashboard/explore-white.svg')}}" alt="Dashboard Icon" class='dashboard-list--icon'>
                    </a>
                </li>
                <li class="dashboard-list--item">
                    <a href="#" class='dashboard-list--link'>
                        <img src="{{url_for('static', filename='/img/dashboard/explore-white.svg')}}" alt="Dashboard Icon" class='dashboard-list--icon'>
                    </a>
                </li>
                <li class="dashboard-list--item">
                    <a href="#" class='dashboard-list--link'>
                        <img src="{{url_for('static', filename='/img/dashboard/explore-white.svg')}}" alt="Dashboard Icon" class='dashboard-list--icon'>
                    </a>
                </li>
            </ul>
        </div>
        <div class="dashboard-content">
            <h1 class='dashboard-content--title'> Explore </h1>
            <h5 class='dashboard-section-title'>Featured</h5>
            <div class="dashboard-row--top">
                {% if top2 %}
                <div class="card dashboard-card-large">
                    <div class="dashboard-card-large--display">Biggest Mover Today</div>
                    <div class="dashboard-card-large--content">
                        <img src="{{top2[0]['img_url']['url']}}" class='dashboard-card-large--img'>
                        <h1 class="dashboard-card-large--symbol">
                            {{top2[0].symbol}}
                        </h1>
                        <h2 class="dashboard-card-large--name">
                            {{top2[0].name}}
                        </h2>
                        {% if top2[0].changePrice > 0.00 %}
                        <h5 class='green dashboard-card-large--info'>{{top2[0].changePrice}} usd ({{top2[0].changePercentage}}) % <img src="{{url_for('static', filename='img/dashboard/up.svg')}}" alt="up arrow" class='dashboard-card-large--icon'></h5>
                        {% else %}
                        <h5 class='red dashboard-card-large--info'>{{top2[0].changePrice}} usd ({{top2[0].changePercentage}}) % <img src="{{url_for('static', filename='img/dashboard/down.svg')}}" alt="down arrow" class='dashboard-card-large--icon'></h5>
                        {% endif %}

                        <div class="dashboard-card-large--price">
                            <p class="dashboard-card-large--price_title">Price</p>
                            <p class="dashboard-card-large--price_value">${{top2[0].price}}</p>
                        </div>
                    </div>
                </div>
                <div class="card card-med">
                    <!-- <p>{{top2[1].img_url['url']}}</p> -->
                    <img src="{{top2[1]['img_url']['url']}}">
                    <h1>{{top2[1].symbol}}</h1>
                    <h1>{{top2[1].name}}</h1>

                    <h5>{{top2[1].changePrice}} usd ({{top2[1].changePercentage}}) %</h5>

                    {% if top2[1].changePrice > 0.00 %}
                    <p>UP</p>
                    {% else %}
                    <p>DOWN</p>
                    {% endif %}
                    <br>
                    <div class="">
                        <div class="">
                            <p>Price</p>
                            <h6>${{top2[1].price}}</h6>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <h5 class='dashboard-section-title'>Most Active</h5>
            <div class="dashboard-row--content">
                <div class="dashboard-cards">
                    {% if top8 %} {% for item in top8 %}
                    <div class="card card-small dashboard-card-small">
                        <img src="{{item['img_url']['url']}}" class='dashboard-card-small--img'>
                        <h1 class='dashboard-card-small--symbol'>{{item.symbol}}</h1>
                        <h2 class='dashboard-card-small--name'>{{item.name}}</h2>

                        {% if item.changePrice > 0.00 %}
                        <h5 class='green dashboard-card-small--info'>{{item.changePrice}} usd ({{item.changePercentage}}) % <img src="{{url_for('static', filename='img/dashboard/up.svg')}}" alt="up arrow" class='dashboard-card-small--icon'></h5>

                        {% else %}
                        <h5 class='red dashboard-card-small--info'>{{item.changePrice}} usd ({{item.changePercentage}}) % <img src="{{url_for('static', filename='img/dashboard/down.svg')}}" alt="down arrow" class='dashboard-card-small--icon'></h5>

                        {% endif %}
                        <div class="dashboard-card-small--price">
                            <p class="dashboard-card-small--price_title">Price</p>
                            <p class="dashboard-card-small--price_value">${{item.price}}</p>
                        </div>
                    </div>
                    {% endfor %} {% endif %}
                </div>
                <div class="dashboard-news">
                    <h6> Latest News </h6>
                    <ul class='dashboard-news--list'>
                        <li class='dashboard-news--item'>news item</li>
                        <li class='dashboard-news--item'>news item</li>
                        <li class='dashboard-news--item'>news item</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}