{% extends '/layoutDashboard.html' %}

<!-- Active Page -->
{% set active_page = 'explore' %}
<!-- page title -->
{% block title %} Explore {% endblock %}

<!-- main content -->
{% block dashboard %}

<div class="dash">
    <div class="dash-row">
        <div class="dash-left">
            <div class="dash-spotlight">
                <div class="dash-trending--header">
                    <h3 class="dash-heading">Spotlight Stock</h3>
                </div>
                <div class="dash-spotlight--content">
                    <div class="dash-spotlight--content_img">
                        <img src="{{url_for('static', filename='/img/dashboard/chart.svg')}}" class='dash-spotlight--content_image'>
                    </div>
                    <div class="dash-spotlight--content_text">
                        <div class="dash-spotlight--content_text-symbol">{{topActive.symbol}}</div>
                        <div class="dash-spotlight--content_text-name">{{topActive.name}}</div>
                        <p class="dash-spotlight--content_text-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas nisi amet cupiditate quam, natus ea ipsum corporis sed asperiores, ut id laborum magnam similique modi molestias quae eum labore rerum. Lorem, ipsum dolor sit amet
                            consectetur adipisicing elit. Earum aut corrupti tempora, ex aperiam quod placeat, facilis asperiores, eius vel non dicta! Ut asperiores id iste minus? Deleniti, nemo aliquid.</p>
                        <hr class='margin'>
                        <div class="dash-spotlight--content_text-price">
                            <div class="dash-spotlight--content_text-price">price</div>
                            {% if topActive.changePrice > 0 %}
                            <div class="dash-spotlight--content_text-details green">${{topActive.price}} usd (+{{topActive.changePercentage}})</div>
                            {% else %}
                            <div class="dash-spotlight--content_text-details red">${{topActive.price}} usd ({{topActive.changePercentage}})</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dash-right">
            <div class="dash-trending">
                <div class="dash-trending--header">
                    <h3 class="dash-heading">Most Active</h3>
                </div>
                <table class="dash-trending--table">
                    <tr class="dash-trending--table_header">
                        <th class="dash-trending--table_head">#</th>
                        <th class="dash-trending--table_head">name</th>
                        <th class="dash-trending--table_head">price/unit</th>
                        <th class="dash-trending--table_head">change</th>
                    </tr>
                    {% for stock in mostActive %}
                    <tr>
                        <td class="dash-trending--table_data">{{loop.index}}</td>
                        <td class="dash-trending--table_data">{{stock.name}}</td>
                        <td class="dash-trending--table_data">${{stock.price}}</td>
                        {% if stock.changePrice > 0 %}
                        <td class="dash-trending--table_data green">+{{stock.changePercentage}}%</td>
                        {% else %}
                        <td class="dash-trending--table_data red">{{stock.changePercentage}}%</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="explore-row-full">
        <div class="explore-section">
            <div class="explore-section-header">
                Top Gainers
            </div>
            <div class="explore-section-content">
                {% for stock in gainers %}
                <div class="explore-section-content_item">
                    <img src="{{url_for( 'static', filename='/img/dashboard/buy.svg' )}} " alt='stock symbol' class='dash-portfolio-table_img'>
                    <div class="dash-portfolio-table_data dash-portfolio-table-name ">{{ stock.symbol }}<br>
                        <p class=' dash-portfolio-table__minor '>{{stock.name}}</p>
                    </div>
                    <div class="dash-portfolio-table_data green ">${{stock.price}} usd <br>
                        <p class='dash-portfolio-table__minor '>current</p>
                    </div>
                    {% if stock.changePrice > 0 %}
                    <div class="dash-portfolio-table_data ">+{{stock.changePercentage}}% <br>
                        <p class='dash-portfolio-table__minor '>change</p>
                    </div>
                    {% else %}
                    <div class="dash-portfolio-table_data red">{{stock.changePercentage}}%<br>
                        <p class='dash-portfolio-table__minor '>percentage change</p>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="explore-section-header">
                Top Losers
            </div>
            <div class="explore-section-content">
                {% for stock in losers %}
                <div class="explore-section-content_item">
                    <img src="{{url_for( 'static', filename='/img/dashboard/buy.svg' )}} " alt='stock symbol' class='dash-portfolio-table_img'>
                    <div class="dash-portfolio-table_data dash-portfolio-table-name ">{{ stock.symbol }}<br>
                        <p class=' dash-portfolio-table__minor '>{{stock.name}}</p>
                    </div>
                    <div class="dash-portfolio-table_data">${{stock.price}} usd <br>
                        <p class='dash-portfolio-table__minor '>current</p>
                    </div>
                    {% if stock.changePrice > 0 %}
                    <div class="dash-portfolio-table_data green ">+{{stock.changePercentage}}%<br>
                        <p class='dash-portfolio-table__minor '>change</p>
                    </div>
                    {% else %}
                    <div class="dash-portfolio-table_data red">{{stock.changePercentage}}%<br>
                        <p class='dash-portfolio-table__minor '>percentage change</p>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock %}