{% extends "/layout.html" %}
<!-- Title -->
{% block title %} Kb Trader {% endblock %}

<!-- Content -->
{% block main %}

<img src="{{url_for('static', filename='img/landing/earth.jpg')}}" alt='Image of Space' id="indexBackground">

<div class="index-container">
    <div class="index-container-content">
        <h1 class="index-container-content--heading">Shoot for the moon <br> and build your<br> exchange portfolio with us.
        </h1>
        <p class="index-container-content--description">Anyone can have an investment portfolio.<span class='bgwhite'>
<span class='color-blue'>KB</span><span class='color-text'>Trader</span>
            </span> makes it easy to start investing. <br> Access investments from all around the world. Choose from thousands of companies and funds on the New York Stock Exchange (NYSE), Nasdaq, and Chicago Board Options Exchange (CBOE) and more.</p>
        <a href="/register">
            <button class="btn-primary index-container-content--cta">Sign Up Now</button>
        </a>
    </div>
</div>
<section class="section section-zero">

    <img src="{{url_for('static', filename='img/landing/shares.svg')}}" class='section-zero--img'>

</section>
<section class="section section-one">
    <h1 class='section-title'>Why choose KB Trader?</h1>
    <div class="section-wrapper">
        <div class="section-card animate-ease-up">
            <div class="section-icon">
                <img src="{{url_for('static', filename='img/landing/iconf1.svg')}}" class='section-icon--img'>
            </div>
            <h2 class="section-header">Making trading easy</h2>
            <div class="section-text">
                <p>Absolutely. Hatch makes investing easy and rewarding for novices and experts. Thanks to fractional investing, no minimum amounts, and our low fees, you can start investing with as much or as little as you like.</p>
            </div>
        </div>
        <div class="section-card">
            <div class="section-icon">
                <img src="{{url_for('static', filename='img/landing/iconf2.svg')}}" class='section-icon--img'>
            </div>
            <h2 class="section-header">You own your shares</h2>
            <div class="section-text">
                <p>You own your shares, which gives you voting rights on any full shares you own. You can also get dividends (even on fractions of shares) and on the money sitting in your Hatch account.</p>
            </div>
        </div>
        <div class="section-card">
            <div class="section-icon">
                <img src="{{url_for('static', filename='img/landing/iconf3.svg')}}" class='section-icon--img'>
            </div>
            <h2 class="section-header">No lock-ins</h2>
            <div class="section-text">
                <p>KB Trader has low flat fees and no monthly subscription costs. We also don’t take a percentage of your gains when you sell and we'll never lock you in. You can transfer your shares to and from KB Trader at any time, without having to sell
                    them.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section section-two">
    <h1 class='section-title'>Here's what some of investors are saying</h1>
    <div class="section-wrapper-two">
        <div class="section-image">
            <img src="{{url_for('static', filename='img/landing/index-landing.png')}}" class="animate-float">
        </div>
        <div class="section-testimonial">
            <div class="section-testimonial--card">
                <div class="section-testimonial-image-0">
                </div>
                <div class="section-testimonial-text">
                    <p>Investing is planning for the future, and every little bit helps. With Sharesies, you don’t need to invest thousands of dollars in one thing. I’m only investing an amount I can afford—and I’m having fun! It’s something new and exciting,
                        so I love it.</p>
                    <p class='section-testimonial-text--name'>- Jacob Hunter</p>
                </div>
            </div>
            <div class="section-testimonial--card">
                <div class="section-testimonial-image-1">
                </div>
                <div class="section-testimonial-text">
                    <p>Investing for the first time was kinda like a massive rush. You hear about big investors everywhere, and I wanted a piece of that at an amount I could afford. Just do it! I invest $10-$50 a week, and it’s doable in my budget. I love
                        that it’s manageable and in real time.</p>
                    <p class='section-testimonial-text--name'>- Amelia Hargraves</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}