{% extends "/layout.html" %}
<!-- Title -->
{% block title %} Kb Trader {% endblock %}

<!-- Content -->
{% block main %}
<img class='heroImage' src="{{url_for('static', filename='img/landing/backgroundhero.jpg')}}" alt="hero landing">

<div class="heroBackground"></div>

<div class="hero" id='register'>
    <div class="hero-left">
        <div class="hero-headings">
            <h1 class="hero-header1 animate-left-first">Investing is </h1>
            <h1 class="hero-header1 animate-left-second">planning for </h1>
            <h1 class="hero-header1 animate-left-third">the future. </h1>
            <h3 class="hero-sub animate-fade-in">and every little bit helps. </h3>
        </div>
    </div>
    <div class="hero-right">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages%}
        <div class='flash'>
            <div class="flash-message">
                {{ message | safe}}
            </div>
            <button class='flash-button btn-tertiary' onclick="closePopUp()">Close</button>
        </div>
        {% endfor %} {% endif %} {% endwith %}
        <div class="hero-right-content">
            <!-- forms -->
            <div class="dash-actions-content">
                <!-- Tab links -->
                <div class="tab">
                    <button class="tab-links tab-active" onclick="openCity(event, 'Login')">Login</button>
                    <button class="tab-links" onclick="openCity(event, 'Register')">Register</button>
                </div>
                <!-- Tab content -->
                <div id="Login" class="tab-content first">
                    <form class='tab-form' method='POST' action='/login'>
                        <div class="tab-form-group">
                            <label for="username" class='tab-form-label'>Username</label>
                            <input id='username' type='text' placeholder='username' class='tab-form-input' name='username'>
                        </div>
                        <div class="tab-form-group">
                            <label for="password" class='tab-form-label'>Password</label>
                            <input id='password' type='password' name='password' placeholder='password' class='tab-form-input'>
                        </div>
                        <button type='submit' class='tab-form-action btn-primary'>Login</button>
                    </form>
                </div>

                <div id="Register" class="tab-content">
                    <form class='tab-form' method='POST' action='/register'>
                        <div class="tab-form-group">
                            <label for="username" class='tab-form-label'>Username</label>
                            <input id='username' type='text' placeholder='username' class='tab-form-input' name='username'>
                        </div>
                        <div class="tab-form-group">
                            <label for="password" class='tab-form-label'>Password</label>
                            <p class='blue'>Password must be at least 8 characters</p>
                            <input id='password' type='password' placeholder='password' class='tab-form-input' name='password'>
                        </div>
                        <div class="tab-form-group">
                            <label for="confirmation" class='tab-form-label'>confirmation Password</label>
                            <input id='confirmation' type='password' placeholder='confirmation password' class='tab-form-input' name='confirmation'>
                        </div>
                        <button type='submit' class='tab-form-action btn-primary'>Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section section-subhero">
    <div class='section-subhero-content'>
        <ul class='section-subhero-content-list'>
            <li class='section-subhero-content-list_item'>🚀 Easy Trading</li>
            <li class='section-subhero-content-list_item'>💫 Low Cost</li>
            <li class='section-subhero-content-list_item'>📌 Diverse Range of Options</li>
        </ul>
    </div>
    <div class='section-subhero-content'>
        <h6>Featured stock</h6>
        <div class="section-subhero-content-stocks">
            <img src="{{url_for('static', filename='img/stocks/apple.svg')}}" alt="apple stock logo" class='section-subhero-content-stocks_stock'>
            <img src="{{url_for('static', filename='img/stocks/spotify-2.svg')}}" alt="spotify stock logo" class='section-subhero-content-stocks_stock'>
            <img src="{{url_for('static', filename='img/stocks/alphabet.svg')}}" alt="alphabet stock logo" class='section-subhero-content-stocks_stock'>
            <img src="{{url_for('static', filename='img/stocks/coca-cola.svg')}}" alt="coca-cola stock logo" class='section-subhero-content-stocks_stock'>
            <img src="{{url_for('static', filename='img/stocks/gree-electric-appliances-logo.svg')}}" alt="gree electric appliances stock logo" class='section-subhero-content-stocks_stock'>
            <img src="{{url_for('static', filename='img/stocks/aaa-chicago-motor-club.svg')}}" alt="aaa chicago motor club stock logo" class='section-subhero-content-stocks_stock'>
        </div>
    </div>
    <div class='section-subhero-content subhero-content_footer'>Powered by <a href="https://iextrading.com/developer">IEX</a></div>
</section>
<section class="section section-about">
    <h2 class="section-heading">
        Find Your <span class='blue underline'>investment</span> with us
    </h2>
    <div class="section-cards">
        <div class="card" data-aos="fade-up" data-aos-duration="1000">
            <img src="{{url_for('static', filename='img/landing/iconf1.svg')}}" alt="icon" class="card-icon">
            <div class="card-title">Back the companies you believe in</div>
            <p class="card-text">Put your money where your heart is. Own a slice of the businesses you know and love, and share in their success.</p>
        </div>
        <div class="card" data-aos="fade-up" data-aos-duration="2000">
            <img src="{{url_for('static', filename='img/landing/iconf2.svg')}}" alt="icon" class="card-icon">
            <div class="card-title">You own your shares</div>
            <p class="card-text">You own your shares, which gives you voting rights on any full shares you own. You can also get dividends (even on fractions of shares) and on the money sitting in your account.</p>
        </div>
        <div class="card" data-aos="fade-up" data-aos-duration="3000">
            <img src="{{url_for('static', filename='img/landing/iconf3.svg')}}" alt="icon" class="card-icon">
            <div class="card-title">There’s no minimum when you invest</div>
            <p class="card-text">A lot of new investors start with $100 that they consider education money. The best way to get started is by using an amount you’re comfortable with.</p>
        </div>
    </div>
</section>
<section class="section section-content">
    <div class="section-content_text">
        <h2 class="section-content_text--header">GROW your money with KBTrader</h2>
        <h6 class="section-content_text--text">Invest in the worlds biggest brands. Become a shareholder in tech giants like Apple, beloved lifestyle brands like Lululemon, and innovative companies like Beyond Meat. Or buy shares in funds and spread your money across a lot of investments at
            once.
        </h6>
    </div>
    <div class="section-content_image" data-aos="fade-up">
        <img src="{{url_for('static', filename='img/landing/content.svg')}}" class='section-content_img' alt="landing product image">
    </div>
</section>
<section class="section-testimonials">
    <div class="section-testimonial--card" data-aos="fade-right" data-aos-duration="2000">
        <div class="section-testimonial-image">
            <img src="{{url_for('static', filename='img/landing/testimonial1.png')}}" alt="JS testimonial image" class='section-testimonial--img'>
        </div>
        <div class="section-testimonial-text">
            <p class='section-testimonial-text-content'>Investing is planning for the future, and every little bit helps. You don’t need to invest thousands of dollars in one thing. I’m only investing an amount I can afford—and I’m having fun! It’s something new and exciting, so I love it.</p>
            <p class='section-testimonial-text-name'>- Jacob Hunter</p>
        </div>
    </div>
    <div class="section-testimonial--card section-testimonial--card-2" data-aos="fade-right" data-aos-duration="3000">
        <div class="section-testimonial-text">
            <p class='section-testimonial-text-content'>Investing for the first time was kinda like a massive rush. You hear about big investors everywhere, and I wanted a piece of that at an amount I could afford. Just do it! I invest $10-$50 a week, and it’s doable in my budget. I love that it’s
                manageable and in real time.</p>
            <p class='section-testimonial-text-name'>- Amelia Hargraves</p>
        </div>
        <div class="section-testimonial-image">
            <img src="{{url_for('static', filename='img/landing/testimonial2.png')}}" alt="JS testimonial image" class='section-testimonial--img'>
        </div>
    </div>
</section>
<section class="section section-base">
    <h3 class='section-base-header'>Join us now </h3>
    <h3 class='section-base-header'>to start growing your investments </h3>
    <a href="#register">
        <button class="btn-primary index-button">Register Now</button>
    </a>
</section>
{% endblock%}