<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    {% assets "all_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"> {% endassets %}
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='img/logo.ico')}}">
</head>

<body>
    <header class="header">
        <div class="header-logo">
            <a href="/" class='flex'>
                <img src="{{url_for('static', filename='img/logo.svg')}}" alt="Kb Trader Logo" class="header-logo--img">
                <h1 class="header-logo--name"><span class='blue'>KB</span>Trader</h1>
            </a>
        </div>
        <nav class="header-nav">
            <ul class="header-nav--items">
                {% if session.user_id %}
                <li class="header-nav--item">
                    <a href="/logout" class="header-nav--item_link btn-tertiary">
                     Logout
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="body-wrapper">
        {% block main %} {%endblock%}
    </div>
    <footer class="footer">
        <img src="{{url_for('static', filename='img/logo.svg')}}" class='footer-image'>
        <h6 class='footer-name'>KB Trader</h6>
        <div class="footer-container">
            <div class="footer-container-left">
                <ul class='footer-list'>
                    <li>About</li>
                    <li>Settings</li>
                    <li>Careers</li>
                </ul>
            </div>
            <div class="footer-container-middle">
                KB Trader &copy;2021
            </div>
            <div class="footer-container-right">
                <ul class='footer-list'>
                    <li>Facebook</li>
                    <li>LinkedIn</li>
                    <li>Instagram</li>
                </ul>
            </div>
        </div>
    </footer>
    {% assets "all_js" %}
    <script src="{{ ASSET_URL }}"></script> {% endassets %}
</body>

</html>