{% extends '/layoutDashboard.html' %}
<!-- Active Page -->
{% set active_page = 'portfolio' %}

<!-- page title -->
{% block title %} portfolio {% endblock %}

<!-- main content -->
{% block dashboard %}
<div class="portfolio">
    <div class="portfolio-left">
        <h2>your portfolio</h2>
    </div>
    <div class="portfolio-right">
        <div class="right-sell">
            <h2>sell</h2>
        </div>
        <div class="right-transactions">
            <h2>transaction history</h2>
        </div>
    </div>
</div>
{% endblock %}