{% extends '/layoutDashboard.html' %}
<!-- Active Page -->
{% set active_page = 'portfolio' %}

<!-- page title -->
{% block title %} portfolio {% endblock %}

<!-- main content -->
{% block dashboard %}
<div class="portfolio">
    <div class="portfolio-left">

        <div class="dash-portfolio ">
            <div class="dash-trending--header ">
                <h3 class="dash-heading ">Your portfolio</h3>
                <a href='/explore'><button class='btn-tertiary'>view all</button></a>
            </div>
            <div class="dash-portfolio--content ">
                <table class='dash-portfolio-table'>
                    <tr class='dash-portfolio-table__item'>
                        <td>
                            <img src="{{url_for( 'static', filename='/img/dashboard/buy.svg' )}} " alt='stock symbol' class='dash-portfolio-table_img'>
                        </td>
                        <td class="dash-portfolio-table_data dash-portfolio-table-name ">MINX version control <br>
                            <p class=' dash-portfolio-table__minor '>sdlfksmds</p>
                        </td>
                        <td class="dash-portfolio-table_data green ">$109.92 <br>
                            <p class='dash-portfolio-table__minor '>sdlfksmds</p>
                        </td>
                        <td class="dash-portfolio-table_data green ">+49.00% <br>
                            <p class='dash-portfolio-table__minor '>sdlfksmds</p>
                        </td>
                    </tr>
                    <tr class='dash-portfolio-table__item'>
                        <td>
                            <img src="{{url_for( 'static', filename='/img/dashboard/buy.svg' )}} " alt='stock symbol' class='dash-portfolio-table_img'>
                        </td>
                        <td class="dash-portfolio-table_data dash-portfolio-table-name ">MINX version control <br>
                            <p class=' dash-portfolio-table__minor '>sdlfksmds</p>
                        </td>
                        <td class="dash-portfolio-table_data red ">$109.92 <br>
                            <p class='dash-portfolio-table__minor '>sdlfksmds</p>
                        </td>
                        <td class="dash-portfolio-table_data red ">-49.00% <br>
                            <p class='dash-portfolio-table__minor '>sdlfksmds</p>
                        </td>
                    </tr>
                    <tr class='dash-portfolio-table__item'>
                        <td>
                            <img src="{{url_for( 'static', filename='/img/dashboard/buy.svg' )}} " alt='stock symbol' class='dash-portfolio-table_img'>
                        </td>
                        <td class="dash-portfolio-table_data dash-portfolio-table-name ">MINX version control <br>
                            <p class=' dash-portfolio-table__minor '>sdlfksmds</p>
                        </td>
                        <td class="dash-portfolio-table_data green ">$109.92 <br>
                            <p class='dash-portfolio-table__minor '>sdlfksmds</p>
                        </td>
                        <td class="dash-portfolio-table_data green ">+49.00% <br>
                            <p class='dash-portfolio-table__minor '>sdlfksmds</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="portfolio-right">
        <div class="portfolio-right-sell">
            <div class="dash-trending--header ">
                <h3 class="dash-heading ">Sell</h3>
            </div>
            <!-- Tab content -->
            <div id="Sell" class="tab-content first">
                <form class='tab-form'>
                    <div class="tab-form-group">
                        <label for="symbol" class='tab-form-label'>symbol</label>
                        <select id='symbol' type='text' placeholder='AAPL' class='tab-form-input'>
                          <option>one</option>
                          <option>two</option>
                          <option>three</option>
                        </select>
                    </div>
                    <div class="tab-form-group">
                        <label for="quantity" class='tab-form-label'>quantity</label>
                        <input id='quanitity' type='number' placeholder='1' class='tab-form-input'>
                    </div>
                    <button type='submit' class='tab-form-action btn-primary'>Sell</button>
                </form>
            </div>
        </div>
        <div class="right-transactions">
            <div class="dash-trending--header ">
                <h3 class="dash-heading">transaction history</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}