{% extends '/layoutDashboard.html' %}
<!-- Active Page -->
{% set active_page = 'portfolio' %}

<!-- page title -->
{% block title %} portfolio {% endblock %}

<!-- main content -->
{% block dashboard %}
<div class="portfolio">
    <div class="portfolio-left">
        <div class="portfolio-right-sell">
            <div class="dash-trending--header ">
                <h3 class="dash-heading portfolio-right-sell_heading">Sell</h3>
            </div>
            <!-- Tab content -->
            <div id="Sell" class="tab-content first">
                <form class='tab-form' action='/sell' method='post'>
                    <div class="tab-form-group">
                        <label for="symbol" class='tab-form-label'>symbol</label>
                        <select id='symbol' type='text' placeholder='AAPL' name='symbol' class='tab-form-input'>
                            {% if symbols %}
                            {% for symbol in symbols %}
                            <option>{{symbol[0]}}</option>
                            {% endfor %}
                            {% else %}
                            <option>----</option>
                            {% endif %}
                        </select>
                        <div class="tab-form-group">
                            <label for="quantity" class='tab-form-label'>quantity</label>
                            <input id='quanitity' type='number' placeholder="1" class='tab-form-input' name='quantity' value="1">
                        </div>
                        <button type='submit' class='tab-form-action btn-primary'>Sell</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="dash-portfolio ">
            <div class="dash-trending--header ">
                <h3 class="dash-heading ">Your portfolio</h3>
            </div>
            <div class="dash-portfolio--content ">
                <table class='dash-portfolio-table'>
                    {% if wallet %}
                    <tr class='dash-portfolio-table__item wallet'>
                        <td>
                            <img src="{{url_for( 'static', filename='/img/dashboard/buy.svg' )}} " alt='stock symbol' class='dash-portfolio-table_img wallet-img'>
                        </td>
                        <td class="dash-portfolio-table_data dash-portfolio-table-name ">Your Wallet <br>
                        </td>
                        <td class="dash-portfolio-table_data wallet-text">{{wallet | formatDollar}}
                        </td>
                        <td class="dash-portfolio-table_data green">
                            <a href='/account' class='btn-tertiary'>Top Up</a>
                        </td>
                    </tr>
                    {% else %}
                    <tr class='dash-portfolio-table__item'>
                        <td>
                            <img src="{{url_for( 'static', filename='/img/dashboard/buy.svg' )}} " alt='stock symbol' class='dash-portfolio-table_img'>
                        </td>
                        <td class="dash-portfolio-table_data dash-portfolio-table-name ">Your Wallet <br>
                        </td>
                        <td class="dash-portfolio-table_data green ">$--- <br>
                            <p class='dash-portfolio-table__minor '>cash</p>
                        </td>
                        <td class="dash-portfolio-table_data green ">----<br>
                        </td>
                    </tr>
                    {% endif %} {% if portfolios %} {% for item in portfolios %}
                    <tr class='dash-portfolio-table__item'>
                        <td>
                            <img src="{{url_for( 'static', filename='/img/dashboard/buy.svg' )}} " alt='stock symbol' class='dash-portfolio-table_img'>
                        </td>
                        <td class="dash-portfolio-table_data dash-portfolio-table-name ">{{item.symbol}} <br>
                            <p class=' dash-portfolio-table__minor '>{{item.name}}</p>
                        </td>
                        <td class="dash-portfolio-table_data">{{item.quantity}} <br>
                            <p class='dash-portfolio-table__minor '>quantity</p>
                        </td>
                        <td class="dash-portfolio-table_data green">{{item.price | formatDollar }}<br>
                            <p class='dash-portfolio-table__minor '>unit price</p>
                        </td>
                        <td class="dash-portfolio-table_data green">{{item.total | formatDollar }}<br>
                            <p class='dash-portfolio-table__minor '>total</p>
                        </td>
                    </tr>
                    {% endfor %} {% else %} {% endif %}
                </table>
            </div>
        </div>
    </div>
    <div class="portfolio-right">
        <div class="portfolio-right-transactions">
            <div class="dash-trending--header">
                <h3 class="dash-heading portfolio-right-sell_heading">transaction history</h3>
            </div>
            <table class="dash-trending--table">
                <tr class="dash-trending--table_header">
                    <th class="dash-trending--table_head">Type</th>
                    <th class="dash-trending--table_head">SYMBOL</th>
                    <th class="dash-trending--table_head">name</th>
                    <th class="dash-trending--table_head">shares</th>
                    <th class="dash-trending--table_head">price/unit</th>
                    <th class="dash-trending--table_head">transaction date</th>
                </tr>
                {% if portfolioTransactions %} {% for item in portfolioTransactions %}
                <tr>
                    {% if item.transactionType == 'buy' %}
                    <td class="dash-trending--table_data">Buy</td>
                    {% else %}
                    <td class="dash-trending--table_data">Sell</td>
                    {% endif %}
                    <td class="dash-trending--table_data">{{item.symbol}}</td>
                    <td class="dash-trending--table_data">{{item.name}}</td>
                    <td class="dash-trending--table_data">{{item.quantity}}</td>
                    <td class="dash-trending--table_data">{{item.unitPrice |formatDollar}}</td>
                    <td class="dash-trending--table_data">{{item.transactionDate}}</td>
                </tr>
                {% endfor %} {% else %}
                <tr>
                    <td class="dash-trending--table_data">----</td>
                    <td class="dash-trending--table_data">-------</td>
                    <td class="dash-trending--table_data">--</td>
                    <td class="dash-trending--table_data">---</td>
                    <td class="dash-trending--table_data">----</td>
                </tr>
                {% endif%}
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}