{% extends '/layoutDashboard.html' %}
<!-- Active Page -->
{% set active_page = 'quote' %}

<!-- page title -->
{% block title %} quote {% endblock %}

<!-- main content -->
{% block dashboard %}
<div class="quote">
    <div class="quote-top">
        <div class="quote-top_buy">
            <div class="dash-actions-content">
                <!-- Tab links -->
                <div class="tab">
                    <button class="tab-links tab-active" onclick="openCity(event, 'Quote')">Quote</button>
                    <button class="tab-links" onclick="openCity(event, 'Buy')">Buy</button>
                </div>
                <!-- Tab content -->
                <div id="Quote" class="tab-content first">
                    <form class='tab-form'>
                        <div class="tab-form-group">
                            <label for="symbol" class='tab-form-label'>symbol</label>
                            <input id='symbol' type='text' placeholder='AAPL' class='tab-form-input'>
                        </div>
                        <button type='submit' class='tab-form-action btn-primary'>Quote</button>
                    </form>
                </div>

                <div id="Buy" class="tab-content">
                    <form class='tab-form'>
                        <div class="tab-form-group">
                            <label for="symbol" class='tab-form-label'>symbol</label>
                            <input id='symbol' type='text' placeholder='AAPL' class='tab-form-input'>
                        </div>
                        <div class="tab-form-group">
                            <label for="quantity" class='tab-form-label'>quantity</label>
                            <input id='quantity' type='number' placeholder='1' class='tab-form-input'>
                        </div>
                        <button type='submit' class='tab-form-action btn-primary'>Buy</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="quote-base">
        company details
    </div>
</div>

{% endblock %}