{% extends '/layoutDashboard.html' %}
<!-- Active Page -->
{% set active_page = 'quote' %}

<!-- page title -->
{% block title %} quote {% endblock %}

<!-- main content -->
{% block dashboard %}
<div class="quote">
    <div class="quote-top">

        <div class="dash-actions-content">
            <h1 class='quote-header'>Quote</h1>
            <!-- Tab content -->
            <div id="Quote" class="tab-content first">
                <form class='tab-form'>
                    <div class="tab-form-group">
                        <label for="symbol" class='tab-form-label'>symbol</label>
                        <input id='symbol' type='text' placeholder='eg {{spotlight["symbol"]}}' class='tab-form-input' autocomplete="false">
                    </div>
                    <button type='submit' class='tab-form-action btn-primary '>Quote</button>
                </form>
            </div>
        </div>

    </div>
    <div class="quote-base">
        <div class="quote-company">
            <div class="quote-company-symbol">
                <img src="{{url_for('static', filename='img/dashboard/buy.svg')}}" alt='company details' class='quote-company-icon'>
            </div>
            {% if company %}
            <h2 class="quote-company-stock">APPL</h2>
            <div class="quote-company-name">Apple corporation industry .inc</div>
            <div class="quote-company-price">$535.96 usd <span class='green quote-company-price_stats '>$-5.68 (-1.05%)</span></div>
            <hr>
            <p class="quote-company-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum alias quod libero amet error non recusandae mollitia numquam. Vitae sapiente amet accusantium animi autem beatae nam numquam? Omnis, maiores nemo! Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Harum alias quod libero amet error non recusandae mollitia numquam. Vitae sapiente amet accusantium animi autem beatae nam numquam? Omnis, maiores nemo!
            </p>
            <div class="quote-company-details">
                <table class='quote-table '>
                    <tbody>
                        <tr class='quote-table_row '>
                            <td class='quote-table_data '>Primary Exchange: NASDAQ</td>
                            <td class='quote-table_data '>Market Cap: 54Billion</td>
                        </tr>
                        <tr class='quote-table_row '>
                            <td class='quote-table_data '>Week 52 High: 435</td>
                            <td class='quote-table_data '>Week 52 Low: 399</td>
                        </tr>
                        <tr class='quote-table_row '>
                            <td class='quote-table_data '>Open: $356</td>
                            <td class='quote-table_data '>Close: $502</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form class='quote-form '>
                <div class="quote-form_group">
                    <label for="quantity" class="quote-form_label">Quantity</label>
                    <input type="number" class="quote-form_input" placeholder='1 '>
                </div>
                <button type='submit ' class="btn-primary quote-form_action">buy</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}